extends ../layout

block content
	include ../_topbar
	.container
		.row
			div.courseDetails.col-sm-6.col-md-6
				-if(user)
					-if(String(job.organization) === String(user._id))
						button.btn.btn-default#editJobBtn Edit Listing
				h2.courseTitle #{job.listing}
				p.lead #{company.name}
				h4 #{job.location}
				small Published: #{moment(job.dateCreated).format("MM/DD/YYYY")}


				h3 Job Overview
				p #{job.description}
				h3 Ideal Candidate
				p #{job.idealCandidate}
				h3 Responsibilities
				p #{job.applicationDetails}
				

			.col-sm-6.col-md-6
				#registerBtns
					-console.log(user)
					p.lead Apply for this Job <b>Today</b>!
					-if(!user)
						//- TODO add dialog with login options - route back to this page
						a(href=router.getLink("facebooklogin")).btn.btn-success.btn-lg Login to Apply
					-if(user)
						-if(user.type === "Company")
							button.btn.btn-default.btn-lg(disabled="disabled") Companies Can't Apply

						-if(!user.type === "Company")
							-if(job.questionaire[0] != "")
								button#applyQuest.btn.btn-success.btn-lg Apply with Questionaire
							-if(!job.questionaire[0])
								button.btn.btn-success.btn-lg#normalApply Apply Now
				.panel.panel-default#tripDetails
					.panel-heading Employer Information
					ul.list-group
						-var arrayOfSeasons = Object.keys(job.seasons).map(function (key){
						-		return job.seasons[key];
						-});
						-var slicedseasons = arrayOfSeasons.slice(0).join(", ")
						li.list-group-item <b>Seasons: </b>
							-var checkseasons = (arrayOfSeasons[0] = "ho") ? slicedseasons : null
							span= checkseasons
						li.list-group-item <b>Staff Size:</b>  #{company.staffSize}
						li.list-group-item <b>Email:</b> #{company.email}
						li.list-group-item <b>Age Requirement:</b>  #{job.ageRequirement}
						li.list-group-item <b>Housing:</b> #{job.housing}
						li.list-group-item <b>Jobs Available:</b>  #{job.jobs}



		.row#classdescription
			.col-sm-6.col-md-6
			.col-sm-6.col-md-6
				a(href=router.getLink("teacherprofile", { user : "mickfanning" }) style=" color: inherit")
					
		//- .section
			.row
				.col-sm-6.col-md-6
					h3 What You'll Do.
					ul#courseTopics
						li 1 | Personalized Surf Lessons.
							p Mick will share with you his thought on what it takes to be happy healthy and live with enthusiasm. 
						li 2 | Stay in an Incredible Beach Chalet.
							p Mick will share with you his thought on what it takes to be happy healthy and live with enthusiasm. 
						li 3 | Dine on Local Foods Every Evening. 
							p Mick will share with you his thought on what it takes to be happy healthy and live with enthusiasm. 
						li 4 | Enjoy the company of other inspired surfers
							p Mick will share with you his thought on what it takes to be happy healthy and live with enthusiasm. 	
						li 5 | Jungle Trek
							p Mick will share with you his thought on what it takes to be happy healthy and live with enthusiasm.
				.col-sm-6.col-md-6
					h3 Current Applicants
					p These awesome people have already applied for this awesome job. <a href="#">Join them!</a>
					.row#classmates
						.col-md-4.col-sm-4
							a(href=router.getLink("userprofile", { user : "deanbennet" }))
								.thumbnail.text-center
									img#userThumb(src="/img/1.jpg")
									.caption
										p.lead Sara Bennet
						.col-md-4.col-sm-4
							a(href=router.getLink("userprofile", { user : "deanbennet" }))
								.thumbnail.text-center
									img#userThumb(src="/img/2.jpg")
									.caption
										p.lead Ellen Fairchild
						.col-md-4.col-sm-4
							a(href=router.getLink("userprofile", { user : "deanbennet" }))
								.thumbnail.text-center
									img#userThumb(src="/img/3.jpg")
									.caption
										p.lead Kevin Blade
						.col-md-4.col-sm-4
							a(href=router.getLink("userprofile", { user : "deanbennet" }))
								.thumbnail.text-center
									img#userThumb(src="/img/4.jpg")
									.caption
										p.lead Casey Long
						.col-md-4.col-sm-4
							a(href=router.getLink("userprofile", { user : "deanbennet" }))
								.thumbnail.text-center
									img#userThumb(src="/img/5.jpg")
									.caption
										p.lead Kathy Heath
						.col-md-4.col-sm-4
							a(href=router.getLink("userprofile", { user : "deanbennet" }))
								.thumbnail.text-center
									img#userThumb(src="/img/6.jpg")
									.caption
										p.lead Mike Frath
					.text-center
						button.outlined-clear-btn-black.margin-10 5 More <span class="caret"></span>
		-if(user)	
			.modal.fade#applyDialog(role="dialog" aria-hidden="true" tabindex="-1")
				.modal-dialog
					.modal-content
						.modal-body
							.lead.text-center Are you sure you want to apply for this job?
						.modal-footer
							button(data-dismiss="modal" type="button")#cancel.btn.btn-default Cancel
							a(href=router.getLink("apply", {jobId: job._id})).btn.btn-success.pull-right Confirm


		-if(user)	
			.modal.fade#questionaireDialog(role="dialog" aria-hidden="true" tabindex="-1")
				.modal-dialog
					form(role="form" action="/jobs/" + user._id + "-" + job._id + "/apply" method="post").modal-content
						.modal-header 
							h4 Questionaire
						.modal-body
							.lead Almost Done! Just answer a few questions to finalize your application!
							#questionFormContainer
								-console.log(job)
								-var i = 0 
								each question in job.questionaire
									.lead #{question}
									input.form-control(type="text" name="question[" + i + "]")
									-i++
						.modal-footer
							button.btn.btn-primary.pull-right(type="submit" name="apply") Submit Application
		-if(user)
			.modal.fade#editJobListingDialog(role="dialog" aria-hidden="true" tabindex="-1")
				.modal-dialog
					.col-md-12#loginForm
						h3 Edit Job Listing
						form.form(role="form" action="/jobs/" + job._id + "/updateJob" method="post")
							.row
								h5 Seasons
								div.col-md-3
									input(type="checkbox" value="Spring" checked=job.seasons.spring name="j[seasons][spring]")
									label(for="j[seasons]") Spring
								div.col-md-3
									input(type="checkbox" value="Summer" checked=job.seasons.summer name="j[seasons][summer]")
									label(for="j[seasons]") Summer
								div.col-md-3
									input(type="checkbox" value="Fall" checked=job.seasons.fall name="j[seasons][fall]")
									label(for="j[seasons]") Fall
								div.col-md-3
									input(type="checkbox" value="Winter" checked=job.seasons.winter name="j[seasons][winter]")
									label(for="j[seasons]") Winter
							br
							.row
								div.form-group.col-md-6
									label.sr-only(for="username") Listing Title
									input.form-control(placeholder="Listing Title" type="text" value=job.listing name="j[listing]")
								div.form-group.col-md-6
									label.sr-only(for="teacher") Description
									input.form-control(placeholder="Description" type="text" value=job.description name="j[description]")
							.row
								div.form-group.col-md-12
									label.sr-only(for="Publish") Ideal Candidate
									input.form-control(placeholder="Ideal Candidate" type="textfield" value=job.idealCandidate name="j[idealCandidate]")

							.row
								div.form-group.col-md-6
									label.sr-only(for="Publish") Location
									input.form-control(placeholder="Location" type="textfield" value=job.location name="j[location]")
								div.form-group.col-md-6
									label.sr-only(for="level") Jobs
									input.form-control(placeholder="Jobs" type="textfield" value=job.jobs name="j[jobs]")
							div.form-group
								label.sr-only(for="topic") Housing
								input.form-control(placeholder="Housing" type="text" value=job.housing name="j[housing]")
							div.form-group
								label.sr-only(for="topic") Application Details
								input.form-control(placeholder="Application Details" type="text" value=job.applicationDetails name="j[applicationDetails]")
							.row
								div.form-group.col-md-6
									label.sr-only(for="overview") Age Requirement
									input.form-control(placeholder="Age Requirement" type="textfield" value=job.ageRequirement name="j[ageRequirement]")
								div.form-group.col-md-6
									label.sr-only(for="overview") Compensation
									input.form-control(placeholder="Compensation" type="textfield" value=job.compensation name="j[compensation]")
							#questionFormContainer
								-var i=0
								div.form-group#questionForm
									label.sr-only(for="topic") Question #1
									input.form-control(placeholder="Question #1" type="text" value=job.questionaire[i] name="j[questionaire][" + i + "]")
								-i++
							.row
										#addQuestion.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add question
							button.btn.btn-primary.pull-right(type="submit" name="addjob") Update Job
							.btn.btn-default.pull-left#addQuestionaire(data-toggle="modal" data-target="#questionaire") Update Questionaire


	include ../_footer
block scripts
	script(src="/javascripts/job.js")

