.mountaineeringForm
	-var turnaryI = (profileUser.professional.experience.length > 0 ? i : "0");
	.row
		div.form-group.col-md-3
			label.sr-only(for="sports[mountaineering][routes][" + turnaryI + "][location]") Mountain
			input.form-control(placeholder="Mountain" type="text" value=route.mountain name="sports[mountaineering][routes][" + turnaryI + "][mountain]")
		div.form-group.col-md-3
			label.sr-only(for="sports[mountaineering][routes][" + turnaryI + "][route]") Route
			input.form-control(placeholder="Route" type="text" value=route.route name="sports[mountaineering][routes][" + turnaryI + "][route]")
		div.form-group.col-md-3
			label.sr-only(for="sports[mountaineering][routes][" + turnaryI + "][difficulty]") Difficulty
			input.form-control(placeholder="Difficulty" type="text" value=route.difficulty name="sports[mountaineering][routes][" + turnaryI + "][difficulty]")
		div.form-group.col-md-3
			label.sr-only(for="sports[mountaineering][routes][" + turnaryI + "][skills]") Skills Demonstrated
			input.form-control(placeholder="Skills Demonstrated" type="text" value=route.skills name="sports[mountaineering][routes][" + turnaryI + "][skills]")
	.row
		div.form-group.col-md-3
			label.sr-only(for="sports[mountaineering][routes][" + turnaryI + "][description]") Description
			input.form-control(placeholder="Description" type="text" value=route.description name="sports[mountaineering][routes][" + turnaryI + "][description]")
		div.form-group.col-md-3
			label.sr-only(for="sports[mountaineering][routes][" + turnaryI + "][date]") Date
			input.form-control(placeholder="Date" type="text" value=route.date name="sports[mountaineering][routes][" + turnaryI + "][date]")
		.form-group.col-md-3
			-var guided = ('Guided'==route.guided) ? 'selected' : null;
			-var personal = ('Personal'==route.guided) ? 'selected' :null;
			select#guidePersonal.form-control(name="sports[mountaineering][routes][" + turnaryI + "][guided]") 
				option(value="Guided" selected=guided) Guided
				option(value="Personal" selected=personal) Personal
		.form-group.col-md-3
			-var summited = ('Yes'==route.summited) ? 'selected' : null;
			-var didnt = ('No'==route.summited) ? 'selected' :null;
			select#summit.form-control(name="sports[mountaineering][routes][" + turnaryI + "][summited]") 
				option(value="Yes" selected=summited) Summited
				option(value="No" selected=didnt) Didn't Summit