.sponsorForm
	-var turnaryI = (profileUser.professional.experience.length > 0 ? i : "0");
	.row
		div.form-group.col-md-3
			label.sr-only(for="first") Organization 
			input.form-control(placeholder="Organization / Company" type="text" value=sponsor.organization name="professional[sponsors][" + turnaryI + "][organization]")
		div.form-group.col-md-3
			label.sr-only(for="email") Sport
			input.form-control(placeholder="Sport" type="text" value=sponsor.sport name="professional[sponsors][" + turnaryI + "][sport]")
		div.form-group.col-md-2
			label.sr-only(for="email") Start Date
			input.form-control(placeholder="Start Date" type="text" value=sponsor.start name="professional[sponsors][" + turnaryI + "][start]")
		div.form-group.col-md-2
			label.sr-only(for="email") End Date
			input.form-control(placeholder="End Date" type="text" value=sponsor.end name="professional[sponsors][" + turnaryI + "][end]")
		div.form-group.col-md-2
			input(type="checkbox", value=sponsor.current name="professional[sponsors][" + turnaryI + "][current]")
			label(for="currentlyWork") I'm currently sponsored
	.row
		.form-group.col-md-12
			label.sr-only(for="professional[sponsors][description]")
			input.form-control(placeholder="Brief Description" type="text" value=sponsor.description name="professional[guiding][" + turnaryI + "][description]")
	-i++