extends ../layout

block content
	include ../_topbar
	.container
		#profile
			.row#videoContainer
				div.courseDetails.col-sm-12.col-md-12

					h2.profName Company Dashboard
					p.lead #{company.name}

			.row
				.col-md-6
					a(href=router.getLink("newJobPage")).btn.btn-primary.btn-sm.pull-right Add Listing
					h3.inline Listings
					br
					br
					-console.log(company)
					each job in company.jobListings
						.thumbnail
							.row
								.col-md-12
									h6.pull-right #{job.location} - #{job.seasons}
									h5 #{job.listing}
									p #{job.applicants}
							.row
								.col-md-12
									a(href=router.getLink("deleteJob", {jobId: job._id})).btn.btn-danger.pull-right Delete
									a(href=router.getLink("jobListing", {jobId: job._id})).btn.btn-primary.pull-right View Listing
									p Posted: #{moment(job.dateCreated).format("MM/DD/YYYY")}

				.profileSection
					h3.inline Recent Applicants



				
	include ../_footer