extends ../layout

block content
	include ../_topbar
	.container
		#profile
			.row#dashboard-title-row
				div.dashboard-title-div.col-sm-12.col-md-12
					p.dashboard-title Dashboard
					p.company-name #{company.name}

			.row
				.left-container.col-md-4
					.left-container-title.clearfix
						p.left-container-title-text Listings
						a(href=router.getLink("newJobPage")).btn.btn-primary.btn-sm.pull-right.add-listing Add Listing

					.listings.clearfix
						if(company.jobListings)
							each job in company.jobListings

								.listing.clearfix
									p.name-of-listing #{job.listing}
									button._button ···
									.applicants-total.clearfix
										p.applicants-number #{job.applicants.length}
									p.job-date-label Job for 
									-var arrayOfSeasons = Object.keys(job.seasons).map(function (key){
									-		return job.seasons[key];
									-});
									-var slicedseasons = arrayOfSeasons.slice(0).join(", ")
									p.job-date= slicedseasons
									p.job-post-date-label Posted on
									p.job-post-date #{moment(job.dateCreated).format("MM/DD/YYYY")}
				
				.right-container.col-md-8
					.right-container-title.clearfix
						.applicant-flow.clearfix
							button.applicant-flow-new.applicant-flow-button-active New           
							button.applicant-flow-saved.applicant-flow-button Saved 
							button.applicant-flow-interview.applicant-flow-button Interview 
							button.applicant-flow-hired.applicant-flow-button Hired 
						a.btn.btn-primary.btn-sm.pull-right.close-listing Close Applications
