extends ../layout

block content
	include ../_topbar
	.container
		.row
			.col-md-10.col-md-offset-1#loginForm
				h3 Edit Profile
				-console.log(locals.user.id);

				ul.nav-tabs.nav
					li#generalTab.active
						a(href="#general", data-toggle="tab") General
					li#educationTab
						a(href="#education", data-toggle="tab") Education / Coursework
					li#certsTab
						a(href="#certs", data-toggle="tab") Certifications
					li#educator
						a(href="#teaching", data-toggle="tab") Teaching Experience
					li#guide
						a(href="#guiding", data-toggle="tab") Guide Experience
					li#athlete
						a(href="#sponsors", data-toggle="tab") Sponsors
					li#sportsTab.dropdown
						a(href="#", data-toggle="dropdown").dropdown-toggle Sports
							span.caret
						ul.dropdown-menu#sportsList
							li#rcTab
								a(href="#rockClimbingCt") Rock Climbing
							li#mbTab
								a(href="#mountainBikingCt") Mountain Biking
							li#runTab
								a(href="#runningCt") Running
							li#cycTab
								a(href="#roadCycleCt") Road Cycling
							li#kayTab
								a(href="#kayakingCt") Kayaking
							li#supbTab
								a(href="#supbCt") S.U. Paddle Boarding
							li#surfTab
								a(href="#surfCt") Surfing
							li#skiTab
								a(href="#skiCt") Skiing
							li#sbTab
								a(href="#snowboardCt") Snowboarding
							li#moutTab
								a(href="#mountaineeringCt") Mountaineering
							li#hikeTab
								a(href="#hikeCt") Hiking
							li#yogaTab
								a(href="#yogaCt") Yoga
							li#triTab
								a(href="#triCt") Triathalon
							li#swimTab
								a(href="#swimCt") Swimming
							li#windTab
								a(href="#windSurfCt") Wind Surfing
							li#kiteTab
								a(href="#kiteSurfCt") Kite Surfing
							li#fishTab
								a(href="#fishCt") Fishing
							li#scubaTab
								a(href="#scubaCt") Scuba
							li#canoeTab
								a(href="#canoeCt") Canoeing
							li#raftTab
								a(href="#raftCt") Rafting
							li#iceTab
								a(href="#iceClimbCt") Ice Climbing
							li#skateTab
								a(href="#skateCt") Skateboarding
							li#snowshoeingTab
								a(href="#snowShoeCt") SnowShoeing
							li#bmxTab
								a(href="#bmxCt") BMX


				br
				form.form(role="form", action= "/user/#{user._id}", method="POST")
					div.tab-content
						div.tab-pane.fade.in.active#general
								div#IamA.formgroup
									p I am an Outdoor 
									select#IAA.form-control(name="general[IamA]" value=locals.account.general.IamA)
										option(value="Enthusiast") Enthusiast
										option(value="Professional") Professional
									.checkboxes
										input(type="checkbox" value=locals.account.general.educator name="general[educator]")
										label(for="educator") Educator
									.checkboxes
										input(type="checkbox" value=locals.account.general.guide name="general[guide]")
										label(for="guide") Guide
									.checkboxes
										input(type="checkbox" value=locals.account.general.athlete name="general[athlete]")
										label(for="athlete") Athlete


								.row
									div.form-group.col-md-4
										label.sr-only(for="general[firstname]") First Name
										input.form-control(placeholder="First Name" type="text" value=locals.account.general.firstname name="general[firstname]")
									div.form-group.col-md-4
										label.sr-only(for="general[lastname]") Last Name
										input.form-control(placeholder="Last Name" type="text" value=locals.account.general.lastname name="general[lastname]")
									div.form-group.col-md-4
										label.sr-only(for="general[email]") Email
										input.form-control(placeholder="Email" type="text" value=locals.account.general.email name="general[email]")
								.row
									div.form-group.col-md-4
										label.sr-only(for="general[age]") Age
										input.form-control(placeholder="Age" type="text" value=locals.account.general.age name="general[age]")
									div.form-group.col-md-4
										label.sr-only(for="general[hometown]") Hometown
										input.form-control(placeholder="Hometown, State" type="text" value=locals.account.general.hometown name="general[hometown]")
									div.form-group.col-md-4
										label.sr-only(for="general[occupation]") Occupation 
										input.form-control(placeholder="Occupation" type="text" value=locals.account.general.occupation name="general[occupation]")
								div.form-group
									label.sr-only(for="general[aboutMe]") About me 
									input.form-control#bio(placeholder="About me" type="text" value=locals.account.general.aboutMe name="general[aboutMe]")
								div#sports.form-group
									h3 Sports
									.row
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Rock Climbing" name="sportsList")
											label(for="sports-rockClimbing") Rock Climbing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Mountain Biking" name="sportsList[1]")
											label(for="sports-mountainBiking") Mountain Biking
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Running" name="sportsList[2]")
											label(for="sports-running") Running
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Road Cycling" name="sportsList[3]")
											label(for="sports-roadCycing") Road Cycling
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Kayaking" name="sportsList[4]")
											label(for="sports-kayaking") Kayaking
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Stand Up Paddle Boarding" name="sportsList[5]")
											label(for="sports-supb") S.U. Paddle Boarding 
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Surfing" name="sportsList[6]")
											label(for="sports-surfing") Surfing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Skiing" name="sportsList[7]")
											label(for="sports-skiing") Skiing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Snowboarding" name="sportsList[8]")
											label(for="sports-snowboarding") Snowboarding
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Mountaineering" name="sportsList[9]")
											label(for="sportsList[9]") Mountaineering
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Hiking" name="sportsList[10]")
											label(for="sports-hiking") Hiking
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Yoga" name="sportsList[11]")
											label(for="sports-yoga") Yoga
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Triathalon" name="sportsList[12]")
											label(for="sports-triathalon") Triathalon
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Swimming" name="sportsList[13]")
											label(for="sports-swim") Swimming
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Wind Surfing" name="sportsList[14]")
											label(for="sports-windSurf") Wind Surfing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Kite Surfing" name="sportsList[15]")
											label(for="sports-kiteBoard") Kite Boarding
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Scuba" name="sportsList[16]")
											label(for="sports-scuba") Scuba
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Canoeing" name="sportsList[17]")
											label(for="sports-canoe") Canoeing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Rafting" name="sportsList[18]")
											label(for="sports-raft") Rafting
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Ice Climbing" name="sportsList[19]")
											label(for="sports-iceclimb") Ice Climbing
						div.tab-pane#education
							.row
								h4 Traditional Education
								#tradFormContainer
									if(locals.account.professional.education.traditional[0])
										-var i = 0
										each trad in locals.account.professional.education.traditional
											#tradEduForm
												div.form-group.col-md-4
													label.sr-only(for="professional[education][traditional][" + i + "][institution]") Institution
													input.form-control.col-md-4(placeholder="Educational Institution" type="text" value=trad.institution name="professional[education][traditional][" + i + "][institution]")
												div.form-group.col-md-4
													label.sr-only(for="professional[education][traditional][" + i + "][degree]") Degree Earned
													input.form-control(placeholder="Degree Earned" type="text" value=trad.degree name="professional[education][traditional][" + i + "][degree]")
												div.form-group.col-md-2
													label.sr-only(for="professional[education][traditional][" + i + "][start]") Start Date
													input.form-control.datePick(placeholder="Start Date" type="text" value=trad.start name="professional[education][traditional][" + i + "][start]")
												div.form-group.col-md-2
													label.sr-only(for="professional[education][traditional][" + i + "][end]") End Date
													input.form-control.datePick(placeholder="End Date" type="text" value=trad.end name="professional[education][traditional][" + i + "][end]")
												-i++
									if(!locals.account.professional.education.traditional[0])	
										#tradEduForm
											div.form-group.col-md-4
												label.sr-only(for="professional[education][traditional][0][institution]") Institution
												input.form-control.col-md-4(placeholder="Educational Institution" type="text" name="professional[education][traditional][0][institution]")
											div.form-group.col-md-4
												label.sr-only(for="professional[education][traditional][0][degree]") Degree Earned
												input.form-control(placeholder="Degree Earned" type="text"  name="professional[education][traditional][0][degree]")
											div.form-group.col-md-2
												label.sr-only(for="professional[education][traditional][0][start]") Start Date
												input.form-control.datePick(placeholder="Start Date" type="text" name="professional[education][traditional][0][start]")
											div.form-group.col-md-2
												label.sr-only(for="professional[education][traditional][0][end]") End Date
												input.form-control.datePick(placeholder="End Date" type="text" name="professional[education][traditional][0][end]")
							.row
								div#addTradEdu.addfieldsBtn.col-md-6.col-md-offset-3 add
							.row.outsideCourse
								h4 Outdoor Coursework
								#outdoorEdFormContainer
									if(locals.account.professional.education.outdoor[0])
										-var i = 0
										each outdoor in locals.account.professional.education.outdoor
											#outdoorEdEduForm
												div.form-group.col-md-4
													label.sr-only(for="professional[education][outdoor][" + i + "][institution]") Institution
													input.form-control(placeholder="Institution" type="text" value=outdoor.institution name="professional[education][outdoor][" + i + "][institution]")
												div.form-group.col-md-4
													label.sr-only(for="professional[education][outdoor][" + i + "][course]") Course
													input.form-control(placeholder="Course" type="text" value=outdoor.course name="professional[education][outdoor][" + i + "][course]")
												div.form-group.col-md-4
													label.sr-only(for="professional[education][outdoor][" + i + "][duration]") Duration 
													input.form-control(placeholder="Duration" type="text" value=outdoor.duration name="professional[education][outdoor][" + i + "][duration]")
												div.form-group.col-md-4
													label.sr-only(for="professional[education][outdoor][" + i + "][yearsAttended]") Year Attended
													input.form-control(placeholder="Year Attended" type="text" value=outdoor.yearsAttended name="professional[education][outdoor][" + i + "][yearsAttended]")
												div.form-group.col-md-4
													label.sr-only(for="professional[education][outdoor][" + i + "][skills]") Skills Studied
													input.form-control(placeholder="Skills Studied" type="text" value=outdoor.skills name="professional[education][outdoor][" + i + "][skills]")
												div.form-group.col-md-4
													label.sr-only(for="professional[education][outdoor][" + i + "][other]") Other info 
													input.form-control(placeholder="Other Info" type="text" value=outdoor.other name="professional[education][outdoor][" + i + "][other]")
												-i++
									if(!locals.account.professional.education.traditional[0])
										#outdoorEdEduForm
											div.form-group.col-md-4
												label.sr-only(for="professional[education][outdoor][0][institution]") Institution
												input.form-control(placeholder="Institution" type="text" name="professional[education][outdoor][0][institution]")
											div.form-group.col-md-4
												label.sr-only(for="professional[education][outdoor][0][course]") Course
												input.form-control(placeholder="Course" type="text" name="professional[education][outdoor][0][course]")
											div.form-group.col-md-4
												label.sr-only(for="professional[education][outdoor][0][duration]") Duration 
												input.form-control(placeholder="Duration" type="text" name="professional[education][outdoor][0][duration]")
											div.form-group.col-md-4
												label.sr-only(for="professional[education][outdoor][0][yearsAttended]") Year Attended
												input.form-control(placeholder="Year Attended" type="text" name="professional[education][outdoor][0][yearsAttended]")
											div.form-group.col-md-4
												label.sr-only(for="professional[education][outdoor][0][skills]") Skills Studied
												input.form-control(placeholder="Skills Studied" type="text" name="professional[education][outdoor][0][skills]")
											div.form-group.col-md-4
												label.sr-only(for="professional[education][outdoor][0][other]") Other info 
												input.form-control(placeholder="Other Info" type="text" name="professional[education][outdoor][0][other]")
							.row
								div#addOutsideCourse.addfieldsBtn.col-md-6.col-md-offset-3 add
						div.tab-pane#certs
							.row
								h4 Certifications
								#certificateFormContainer
									if(locals.account.professional.certs[0])
										-var i = 0
										each cert in locals.account.professional.certs
											#certificateForm
												div.form-group.col-md-3
													label.sr-only(for="professional[certs][0][institution]") Institution
													input.form-control(placeholder="Institution" type="text" value=cert.institution name="professional[certs][" + i + "][institution]")
												div.form-group.col-md-3
													label.sr-only(for="professional[certs][0][certificate]") Certificate Earned
													input.form-control(placeholder="Certificate Earned" type="text" value=cert.certificate name="professional[certs][" + i + "][certificate]")
												div.form-group.col-md-3
													label.sr-only(for="professional[certs][0][acquired]") Date Acquired
													input.form-control(placeholder="Date Acquired" type="text" value=cert.acquired name="professional[certs][" + i + "][acquired]")
												div.form-group.col-md-3
													label.sr-only(for="professional[certs][0][expires]") Expires
													input.form-control(placeholder="Expires" type="text" value=cert.expires name="professional[certs][" + i + "][expires]")
												-i++
									if(!locals.account.professional.certs[0])
										#certificateForm
											div.form-group.col-md-3
												label.sr-only(for="professional[certs][0][institution]") Institution
												input.form-control(placeholder="Institution" type="text" name="professional[certs][0][institution]")
											div.form-group.col-md-3
												label.sr-only(for="professional[certs][0][certificate]") Certificate Earned
												input.form-control(placeholder="Certificate Earned" type="text" name="professional[certs][0][certificate]")
											div.form-group.col-md-3
												label.sr-only(for="professional[certs][0][acquired]") Date Acquired
												input.form-control(placeholder="Date Acquired" type="text" name="professional[certs][0][acquired]")
											div.form-group.col-md-3
												label.sr-only(for="professional[certs][0][expires]") Expires
												input.form-control(placeholder="Expires" type="text" name="professional[certs][0][expires]")
							.row
								div#addCertificate.addfieldsBtn.col-md-6.col-md-offset-3 add
						div.tab-pane#teaching
							h4 Schools and Organizations Worked For:
							#teachingFormContainer
								if(locals.account.professional.teaching.experience[0])
									-var i = 0
									each experience in locals.account.professional.teaching.experience
										#teachingForm
											.row
												p Type of Work
													select#courseDescription.form-control( value=experience.kind name="professional[teaching][experience][0][kind]")
														option(value="Expiditionary") Expeditionary
														option(value="Residential") Residential
														option(value="Other") Other
											.row
												div.form-group.col-md-4
													label.sr-only(for="professional[teaching][experience][" + i + "][organization]") Organization 
													input.form-control(placeholder="Organization" type="text" value=experience.organization name="professional[teaching][experience][" + i + "][organization]")
												div.form-group.col-md-4
													label.sr-only(for="professional[teaching][experience][" + i + "][jobTitle]") Job Title
													input.form-control(placeholder="Title" type="text" value=experience.jobTitle name="professional[teaching][experience][" + i + "][jobTitle]")
												div.form-group.col-md-4
													label.sr-only(for="professional[teaching][experience][" + i + "][location]") Location
													input.form-control(placeholder="Location" type="text" value=experience.location name="professional[teaching][experience][" + i + "][location]")
											.row
												h5 Time Period
												div.form-group.col-md-3.col-md-offset-2
													label.sr-only(for="professional[teaching][experience][" + i + "][start]") Start Date
													input.form-control.datePick(placeholder="Start Date" type="text" value=experience.start name="professional[teaching][experience][" + i + "][start]")
												.col-md-2
													p until
												div.form-group.col-md-3
													label.sr-only(for="professional[teaching][experience][" + i + "][end]") End Date
													input.form-control.datePick(placeholder="End Date" type="text" value=experience.end name="professional[teaching][experience][" + i + "][end]")
												div.form-group.col-md-2
													input(type="checkbox", value=experience.current name="professional[teaching][experience][" + i + "][current]")
													label(for="professional[teaching][experience][current]") I currently work here
											.row
												.form-group.col-md-12
													label.sr-only(for="professional[teaching][experience][" + i + "][description]")
													input.form-control(placeholder="Brief Description" type="text" value=experience.description name="professional[teaching][experience][" + i + "][description]")
											-i++
								if(!locals.account.professional.teaching.experience[0])
									#teachingForm
										.row
											p Type of Work
												select#courseDescription.form-control( name="professional[teaching][experience][0][kind]")
													option(value="Expiditionary") Expeditionary
													option(value="Residential") Residential
													option(value="Other") Other
										.row
											div.form-group.col-md-4
												label.sr-only(for="professional[teaching][experience][0][organization]") Organization 
												input.form-control(placeholder="Organization" type="text" name="professional[teaching][experience][0][organization]")
											div.form-group.col-md-4
												label.sr-only(for="professional[teaching][experience][0][jobTitle]") Job Title
												input.form-control(placeholder="Title" type="text" name="professional[teaching][experience][0][jobTitle]")
											div.form-group.col-md-4
												label.sr-only(for="professional[teaching][experience][0][location]") Location
												input.form-control(placeholder="Location" type="text" name="professional[teaching][experience][0][location]")
										.row
											h5 Time Period
											div.form-group.col-md-3.col-md-offset-2
												label.sr-only(for="professional[teaching][experience[0]][start]") Start Date
												input.form-control.datePick(placeholder="Start Date" type="text" name="professional[teaching][experience][0][start]")
											.col-md-2
												p until
											div.form-group.col-md-3
												label.sr-only(for="professional[teaching][experience][0][end]") End Date
												input.form-control.datePick(placeholder="End Date" type="text" name="professional[teaching][experience][0][end]")
											div.form-group.col-md-2
												input(type="checkbox", name="professional[teaching][experience][0][current]")
												label(for="professional[teaching][experience][0][current]") I currently work here
										.row
											.form-group.col-md-12
												label.sr-only(for="professional[teaching][experience][0][description]")
												input.form-control(placeholder="Brief Description" type="text" name="professional[teaching][experience][0][description]")
								
							.row
								div#addTeachingExperience.addfieldsBtn.col-md-6.col-md-offset-3 add


							.row
								h5 Did we miss anything? Add your own work experience here:
								.form-group.col-md-12
									label.sr-only(for="professional[teaching][additional]")
									input.form-control(placeholder="Description of experience" type="text" value=locals.account.professional.teaching.additional name="professional[teaching][additional]")
						div.tab-pane#guiding
							#section
								
								h4 Guiding Companies worked for:
								#guidingCoFormContainer
									if(locals.account.professional.guiding.companies[0])
										-var i = 0
										each company in locals.account.professional.guiding.companies
											#guidingCoForm
												.row
													div.form-group.col-md-4
														label.sr-only(for="professional[guiding][companies][" + i + "][organization]") Organization 
														input.form-control(placeholder="Organization" type="text" value=company.organization name="professional[guiding][companies][" + i + "][organization]")
													div.form-group.col-md-4
														label.sr-only(for="professional[guiding][companies][" + i + "][jobTitle]") Job Title
														input.form-control(placeholder="Title" type="text" value=company.jobTitle name="professional[guiding][companies][" + i + "][jobTitle]")
													div.form-group.col-md-4
														label.sr-only(for="professional[guiding][companies][" + i + "][location]") Location
														input.form-control(placeholder="Location" type="text" value=company.location name="professional[guiding][companies][" + i + "][location]")
												.row
													h5 Time Period
													div.form-group.col-md-3.col-md-offset-2
														label.sr-only(for="professional[guiding][companies][" + i + "][start]") Start Date
														input.form-control.datePick(placeholder="Start Date" type="text" value=company.start name="professional[guiding][companies][" + i + "][start]")
													.col-md-2
														p until
													div.form-group.col-md-3
														label.sr-only(for="professional[guiding][companies][" + i + "][end]") End Date
														input.form-control.datePick(placeholder="End Date" type="text" value=company.end name="professional[guiding][companies][" + i + "][end]")
													div.form-group.col-md-2
														input(type="checkbox", value=company.current name="professional[guiding][companies][" + i + "][current]")
														label(for="professional[guiding][companies][" + i + "][current]") I currently work here
												.row
													.form-group.col-md-12
														label.sr-only(for="professional[guiding][companies][description]")
														input.form-control(placeholder="Brief Description" type="text" value=company.description name="professional[guiding][companies][" + i + "][description]")
												-i++
									if(!locals.account.professional.guiding.companies[0])
										#guidingCoForm
											.row
												div.form-group.col-md-4
													label.sr-only(for="professional[guiding][companies][0][organization]") Organization 
													input.form-control(placeholder="Organization" type="text"  name="professional[guiding][companies][0][organization]")
												div.form-group.col-md-4
													label.sr-only(for="professional[guiding][companies][0][jobTitle]") Job Title
													input.form-control(placeholder="Title" type="text"  name="professional[guiding][companies][0][jobTitle]")
												div.form-group.col-md-4
													label.sr-only(for="professional[guiding][companies][0][location]") Location
													input.form-control(placeholder="Location" type="text"  name="professional[guiding][companies][0][location]")
											.row
												h5 Time Period
												div.form-group.col-md-3.col-md-offset-2
													label.sr-only(for="professional[guiding][companies][0][start]") Start Date
													input.form-control.datePick(placeholder="Start Date" type="text"  name="professional[guiding][companies][0][start]")
												.col-md-2
													p until
												div.form-group.col-md-3
													label.sr-only(for="professional[guiding][companies][0][end]") End Date
													input.form-control.datePick(placeholder="End Date" type="text"  name="professional[guiding][companies][0][end]")
												div.form-group.col-md-2
													input(type="checkbox",  name="professional[guiding][companies][0][current]")
													label(for="professional[guiding][companies][0][current]") I currently work here
											.row
												.form-group.col-md-12
													label.sr-only(for="professional[guiding][companies][0][description]")
													input.form-control(placeholder="Brief Description" type="text"  name="professional[guiding][companies][0][description]")

								.row
									div#addGuidingCo.addfieldsBtn.col-md-6.col-md-offset-3 add
							#section
								h4 Trips / Expeditions Led:
								#tripsFormContainer
									if(locals.account.professional.guiding.guided[0])
										-var i = 0
										each guided in locals.account.professional.guiding.guided
											#tripsForm
												.row
													p Age Range
														select#ageRange(name="professional[guiding][guided][" + i + "][ages]" value=guided.ages )
															option(value="1 week or less") 5-7
															option(value="professional") 7-10
															option(value="professional") 11-14
															option(value="professional") 15-18
															option(value="professional") 18-21
															option(value="professional") 22-30
															option(value="professional") 31-50
															option(value="professional") 51+
													p Gender
														select#gender(name="professional[guiding][guided][" + i + "][gender]" value=guided.gender )
															option(value="1 week or less") Male
															option(value="professional") Female
															option(value="professional") Mixed Group
												.row
													div.form-group.col-md-4
														label.sr-only(for="professional[guiding][guided][" + i + "][organization]") Organization 
														input.form-control(placeholder="Organization" type="text" value=guided.organization name="professional[guiding][guided][" + i + "][organization]")
													div.form-group.col-md-4
														label.sr-only(for="professional[guiding][guided][" + i + "][location]" ) Location
														input.form-control(placeholder="Location" type="text" value=guided.location name="professional[guiding][guided][" + i + "][location]")
													div.form-group.col-md-4
														label.sr-only(for="professional[guiding][guided][" + i + "][numOfClients]") # of Clients
														input.form-control(placeholder="# of Clients" type="text" value=guided.numOfClients name="professional[guiding][guided][" + i + "][numOfClients]")
												.row
													h5 Time Period
													div.form-group.col-md-3.col-md-offset-2
														label.sr-only(for="professional[guiding][guided][" + i + "][start]") Start Date
														input.form-control.datePick(placeholder="Start Date" type="text" value=guided.start name="professional[guiding][guided][" + i + "][start]")
													.col-md-2
														p until
													div.form-group.col-md-3
														label.sr-only(for="professional[guiding][guided][" + i + "][end]") End Date
														input.form-control.datePick(placeholder="End Date" type="text" value=guided.end name="professional[guiding][guided][" + i + "][end]")
												.row
													.form-group.col-md-12
														label.sr-only(for="professional[guiding][guided][" + i + "][description]") Trip Description
														input.form-control(placeholder="Trip Description" type="text" value=guided.description name="professional[guiding][guided][" + i + "][description]")
												-i++
									if(!locals.account.professional.guiding.guided[0])
										#tripsForm
											.row
												p Age Range
													select#ageRange(name="professional[guiding][guided][0][ages]" )
														option(value="1 week or less") 5-7
														option(value="professional") 7-10
														option(value="professional") 11-14
														option(value="professional") 15-18
														option(value="professional") 18-21
														option(value="professional") 22-30
														option(value="professional") 31-50
														option(value="professional") 51+
												p Gender
													select#gender(name="professional[guiding][guided][0][gender]")
														option(value="1 week or less") Male
														option(value="professional") Female
														option(value="professional") Mixed Group
											.row
												div.form-group.col-md-4
													label.sr-only(for="professional[guiding][guided][0][organization]") Organization 
													input.form-control(placeholder="Organization" type="text" name="professional[guiding][guided][0][organization]")
												div.form-group.col-md-4
													label.sr-only(for="professional[guiding][guided][0][location]" ) Location
													input.form-control(placeholder="Location" type="text" name="professional[guiding][guided][0][location]")
												div.form-group.col-md-4
													label.sr-only(for="professional[guiding][guided][0][numOfClients]") # of Clients
													input.form-control(placeholder="# of Clients" type="text" name="professional[guiding][guided][0][numOfClients]")
											.row
												h5 Time Period
												div.form-group.col-md-3.col-md-offset-2
													label.sr-only(for="professional[guiding][guided][0][start]") Start Date
													input.form-control.datePick(placeholder="Start Date" type="text" name="professional[guiding][guided][0][start]")
												.col-md-2
													p until
												div.form-group.col-md-3
													label.sr-only(for="professional[guiding][guided][0][end]") End Date
													input.form-control.datePick(placeholder="End Date" type="text" name="professional[guiding][guided][0][end]")
											.row
												.form-group.col-md-12
													label.sr-only(for="professional[guiding][guided][0][description]") Trip Description
													input.form-control(placeholder="Trip Description" type="text" name="professional[guiding][guided][0][description]")
								.row
									div#addTrip.addfieldsBtn.col-md-6.col-md-offset-3 add

							.row
								h5 Did we miss anything? Add your own work experience here:
								.form-group.col-md-12
									label.sr-only(for="professional[guiding][additional]")
									input.form-control(placeholder="Description of experience" type="text" value=locals.account.professional.guiding.additional name="professional[guiding][additional]")
						div.tab-pane#sponsors
							#section
								h4 Sponsors:
								#sponsorFormContainer
									if(locals.account.professional.sponsors[0])
										-var i = 0
										each sponsor in locals.account.professional.sponsors
											#sponsorForm
												.row
													div.form-group.col-md-3
														label.sr-only(for="first") Organization 
														input.form-control(placeholder="Organization / Company" type="text" value=sponsor.organization name="professional[sponsors][" + i + "][organization]")
													div.form-group.col-md-3
														label.sr-only(for="email") Sport
														input.form-control(placeholder="Sport" type="text" value=sponsor.sport name="professional[sponsors][" + i + "][sport]")
													div.form-group.col-md-2
														label.sr-only(for="email") Start Date
														input.form-control.datePick(placeholder="Start Date" type="text" value=sponsor.start name="professional[sponsors][" + i + "][start]")
													div.form-group.col-md-2
														label.sr-only(for="email") End Date
														input.form-control.datePick(placeholder="End Date" type="text" value=sponsor.end name="professional[sponsors][" + i + "][end]")
													div.form-group.col-md-2
														input(type="checkbox", value=sponsor.current name="professional[sponsors][" + i + "][current]")
														label(for="currentlyWork") I'm currently sponsored
												.row
													.form-group.col-md-12
														label.sr-only(for="professional[sponsors][description]")
														input.form-control(placeholder="Brief Description" type="text" value=sponsor.description name="professional[guiding][" + i + "][description]")
												-i++
									if(!locals.account.professional.sponsors[0])
										#sponsorForm
											.row
												div.form-group.col-md-3
													label.sr-only(for="first") Organization 
													input.form-control(placeholder="Organization / Company" type="text"  name="professional[sponsors][organization]")
												div.form-group.col-md-3
													label.sr-only(for="email") Sport
													input.form-control(placeholder="Sport" type="text"  name="professional[sponsors][sport]")
												div.form-group.col-md-2
													label.sr-only(for="email") Start Date
													input.form-control.datePick(placeholder="Start Date" type="text"  name="professional[sponsors][start]")
												div.form-group.col-md-2
													label.sr-only(for="email") End Date
													input.form-control.datePick(placeholder="End Date" type="text"  name="professional[sponsors][end]")
												div.form-group.col-md-2
													input(type="checkbox", name="professional[sponsors][current]")
													label(for="currentlyWork") I'm currently sponsored
											.row
												.form-group.col-md-12
													label.sr-only(for="professional[sponsors][description]")
													input.form-control(placeholder="Brief Description" type="text" name="professional[guiding][description]")

								.row
									div#addSponsor.addfieldsBtn.col-md-6.col-md-offset-3 add

						div.tab-pane#rockClimbingCt
							.row
								h4 Rock Climbing
								h5 Notable Climbs
							.row
								#rockClimbingFormContainer
									if(locals.account.sports.rockClimbing.notableRoutes[0])
										-var i = 0
										each climb in locals.account.sports.rockClimbing.notableRoutes
											#rockClimbingForm
												div.form-group.col-md-3
													label.sr-only(for="sports[rockClimbing][notableRoutes][" + i + "][location]") Location
													input.form-control(placeholder="Location" type="text" value=climb.location name="sports[rockClimbing][notableRoutes][" + i + "][location]")
												div.form-group.col-md-3
													label.sr-only(for="sports[rockClimbing][notableRoutes][" + i + "][route]") Route
													input.form-control(placeholder="Route" type="text" value=climb.route name="sports[rockClimbing][notableRoutes][" + i + "][route]")
												div.form-group.col-md-2
													label.sr-only(for="sports[rockClimbing][notableRoutes][" + i + "][grade]") Grade
													input.form-control(placeholder="Grade" type="text" value=climb.grade name="sports[rockClimbing][notableRoutes][" + i + "][grade]")
												div.form-group.col-md-2
													label.sr-only(for="sports[rockClimbing][notableRoutes][" + i + "][pitched]") Pitches
													input.form-control(placeholder="Pitches" type="text" value=climb.pitches name="sports[rockClimbing][notableRoutes][" + i + "][pitches]")
												div.form-group.col-md-2
													label.sr-only(for="sports[rockClimbing][notableRoutes][" + i + "][date]") Date
													input.form-control.climbDate(placeholder="Date" type="text" value=climb.date name="sports[rockClimbing][notableRoutes][" + i + "][date]")
												-i++
									if(!locals.account.sports.rockClimbing.notableRoutes[0])
										#rockClimbingForm
											div.form-group.col-md-3
												label.sr-only(for="sports[rockClimbing][notableRoutes][location]") Location
												input.form-control(placeholder="Location" type="text" name="sports[rockClimbing][notableRoutes][location]")
											div.form-group.col-md-3
												label.sr-only(for="sports[rockClimbing][notableRoutes][route]") Route
												input.form-control(placeholder="Route" type="text" name="sports[rockClimbing][notableRoutes][route]")
											div.form-group.col-md-2
												label.sr-only(for="sports[rockClimbing][notableRoutes][grade]") Grade
												input.form-control(placeholder="Grade" type="text" name="sports[rockClimbing][notableRoutes][grade]")
											div.form-group.col-md-2
												label.sr-only(for="sports[rockClimbing][notableRoutes][pitched]") Pitches
												input.form-control(placeholder="Pitches" type="text" name="sports[rockClimbing][notableRoutes][pitches]")
											div.form-group.col-md-2
												label.sr-only(for="sports[rockClimbing][notableRoutes][date]") Date
												input.form-control.climbDate(placeholder="Date" type="text" name="sports[rockClimbing][notableRoutes][date]")
							.row
								div#addRoute.addfieldsBtn.col-md-6.col-md-offset-3 add	
					button.btn.btn-default.pull-right(type="submit" name="editprofile") Update
