extends ../layout

block content
	include ../_topbar
	.container
		.row
			.col-md-10.col-md-offset-1#loginForm
				h3 Edit Profile
				-console.log(locals.user.id);

				ul.nav-tabs.nav
					li#generalTab.active
						a(href="#general", data-toggle="tab") General
					li#educationTab
						a(href="#education", data-toggle="tab") Education / Coursework
					li#certsTab
						a(href="#certs", data-toggle="tab") Certifications
					li#educator
						a(href="#teaching", data-toggle="tab") Teaching Experience
					li#guide
						a(href="#guiding", data-toggle="tab") Guide Experience
					li#athlete
						a(href="#sponsors", data-toggle="tab") Sponsors
					li#sportsTab.dropdown
						a(href="#", data-toggle="dropdown").dropdown-toggle Sports
							span.caret
						ul.dropdown-menu#sportsList
							li#rcTab
								a(href="#rockClimbingCt") Rock Climbing
							li#mbTab
								a(href="#mountainBikingCt") Mountain Biking
							li#runTab
								a(href="#runningCt") Running
							li#cycTab
								a(href="#roadCycleCt") Road Cycling
							li#kayTab
								a(href="#kayakingCt") Kayaking
							li#supbTab
								a(href="#supbCt") S.U. Paddle Boarding
							li#surfTab
								a(href="#surfCt") Surfing
							li#skiTab
								a(href="#skiCt") Skiing
							li#sbTab
								a(href="#snowboardCt") Snowboarding
							li#moutTab
								a(href="#mountaineeringCt") Mountaineering
							li#hikeTab
								a(href="#hikeCt") Hiking
							li#yogaTab
								a(href="#yogaCt") Yoga
							li#triTab
								a(href="#triCt") Triathalon
							li#swimTab
								a(href="#swimCt") Swimming
							li#windTab
								a(href="#windSurfCt") Wind Surfing
							li#kiteTab
								a(href="#kiteSurfCt") Kite Surfing
							li#fishTab
								a(href="#fishCt") Fishing
							li#scubaTab
								a(href="#scubaCt") Scuba
							li#canoeTab
								a(href="#canoeCt") Canoeing
							li#raftTab
								a(href="#raftCt") Rafting
							li#iceTab
								a(href="#iceClimbCt") Ice Climbing
							li#skateTab
								a(href="#skateCt") Skateboarding
							li#snowshoeingTab
								a(href="#snowShoeCt") SnowShoeing
							li#bmxTab
								a(href="#bmxCt") BMX


				br
				form.form(role="form", action= "/user/#{user._id}", method="POST")
					div.tab-content
						div.tab-pane.fade.in.active#general
								div#IamA.formgroup
									p I am an Outdoor 
									select#IAA.form-control(name="general[IamA]" value=locals.account.general.IamA)
										option(value="Enthusiast") Enthusiast
										option(value="Professional") Professional
									.checkboxes
										input(type="checkbox" value=locals.account.general.educator name="general[educator]")
										label(for="educator") Educator
									.checkboxes
										input(type="checkbox" value=locals.account.general.guide name="general[guide]")
										label(for="guide") Guide
									.checkboxes
										input(type="checkbox" value=locals.account.general.athlete name="general[athlete]")
										label(for="athlete") Athlete


								.row
									div.form-group.col-md-4
										label.sr-only(for="general[firstname]") First Name
										input.form-control(placeholder="First Name" type="text" value=locals.account.general.firstname name="general[firstname]")
									div.form-group.col-md-4
										label.sr-only(for="general[lastname]") Last Name
										input.form-control(placeholder="Last Name" type="text" value=locals.account.general.lastname name="general[lastname]")
									div.form-group.col-md-4
										label.sr-only(for="general[email]") Email
										input.form-control(placeholder="Email" type="text" value=locals.account.general.email name="general[email]")
								.row
									div.form-group.col-md-4
										label.sr-only(for="general[age]") Age
										input.form-control(placeholder="Age" type="text" value=locals.account.general.age name="general[age]")
									div.form-group.col-md-4
										label.sr-only(for="general[hometown]") Hometown
										input.form-control(placeholder="Hometown, State" type="text" value=locals.account.general.hometown name="general[hometown]")
									div.form-group.col-md-4
										label.sr-only(for="general[occupation]") Occupation 
										input.form-control(placeholder="Occupation" type="text" value=locals.account.general.occupation name="general[occupation]")
								div.form-group
									label.sr-only(for="general[aboutMe]") About me 
									input.form-control#bio(placeholder="About me" type="text" value=locals.account.general.aboutMe name="general[aboutMe]")
								div#sports.form-group
									h3 Sports
									.row
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Rock Climbing" name="sportsList")
											label(for="sports-rockClimbing") Rock Climbing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Mountain Biking" name="sportsList[1]")
											label(for="sports-mountainBiking") Mountain Biking
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Running" name="sportsList[2]")
											label(for="sports-running") Running
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Road Cycling" name="sportsList[3]")
											label(for="sports-roadCycing") Road Cycling
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Kayaking" name="sportsList[4]")
											label(for="sports-kayaking") Kayaking
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Stand Up Paddle Boarding" name="sportsList[5]")
											label(for="sports-supb") S.U. Paddle Boarding 
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Surfing" name="sportsList[6]")
											label(for="sports-surfing") Surfing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Skiing" name="sportsList[7]")
											label(for="sports-skiing") Skiing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Snowboarding" name="sportsList[8]")
											label(for="sports-snowboarding") Snowboarding
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Mountaineering" name="sportsList[9]")
											label(for="sportsList[9]") Mountaineering
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Hiking" name="sportsList[10]")
											label(for="sports-hiking") Hiking
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Yoga" name="sportsList[11]")
											label(for="sports-yoga") Yoga
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Triathalon" name="sportsList[12]")
											label(for="sports-triathalon") Triathalon
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Swimming" name="sportsList[13]")
											label(for="sports-swim") Swimming
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Wind Surfing" name="sportsList[14]")
											label(for="sports-windSurf") Wind Surfing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Kite Surfing" name="sportsList[15]")
											label(for="sports-kiteBoard") Kite Boarding
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Scuba" name="sportsList[16]")
											label(for="sports-scuba") Scuba
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Canoeing" name="sportsList[17]")
											label(for="sports-canoe") Canoeing
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Rafting" name="sportsList[18]")
											label(for="sports-raft") Rafting
										div.col-md-3
											input(type="checkbox" checked=locals.account.sportsList value="Ice Climbing" name="sportsList[19]")
											label(for="sports-iceclimb") Ice Climbing
						div.tab-pane#education
							.row
								h4 Traditional Education
								#tradFormContainer
									#tradEduForm
										div.form-group.col-md-4
											label.sr-only(for="professional[education][traditional][institution]") Institution
											input.form-control.col-md-4(placeholder="Educational Institution" type="text" value=locals.account.professional.education.traditional.institution name="professional[education][traditional][institution]")
										div.form-group.col-md-4
											label.sr-only(for="professional[education][traditional][degree]") Degree Earned
											input.form-control(placeholder="Degree Earned" type="text" value=locals.account.professional.education.traditional.degree name="professional[education][traditional][degree]")
										div.form-group.col-md-2
											label.sr-only(for="professional[education][traditional][start]") Start Date
											input.form-control.datePick(placeholder="Start Date" type="text" value=locals.account.professional.education.traditional.start name="professional[education][traditional][start]")
										div.form-group.col-md-2
											label.sr-only(for="professional[education][traditional][end]") End Date
											input.form-control.datePick(placeholder="End Date" type="text" value=locals.account.professional.education.traditional.end name="professional[education][traditional][end]")
							.row
								div#addTradEdu.addfieldsBtn.col-md-6.col-md-offset-3 add
							.row.outsideCourse
								h4 Outdoor Coursework
								#outdoorEdFormContainer
									#outdoorEdEduForm
										div.form-group.col-md-4
											label.sr-only(for="professional[education][outdoor][institution]") Institution
											input.form-control(placeholder="Institution" type="text" value=locals.account.professional.education.outdoor.institution name="professional[education][outdoor][institution]")
										div.form-group.col-md-4
											label.sr-only(for="professional[education][outdoor][course]") Course
											input.form-control(placeholder="Course" type="text" value=locals.account.professional.education.outdoor.course name="professional[education][outdoor][course]")
										div.form-group.col-md-4
											label.sr-only(for="professional[education][outdoor][duration]") Duration 
											input.form-control(placeholder="Duration" type="text" value=locals.account.professional.education.outdoor.duration name="professional[education][outdoor][duration]")
										div.form-group.col-md-4
											label.sr-only(for="professional[education][outdoor][yearsAttended]") Year Attended
											input.form-control(placeholder="Year Attended" type="text" value=locals.account.professional.education.outdoor.yearsAttended name="professional[education][outdoor][yearsAttended]")
										div.form-group.col-md-4
											label.sr-only(for="professional[education][outdoor][skills]") Skills Studied
											input.form-control(placeholder="Skills Studied" type="text" value=locals.account.professional.education.outdoor.skills name="professional[education][outdoor][skills]")
										div.form-group.col-md-4
											label.sr-only(for="professional[education][outdoor][other]") Other info 
											input.form-control(placeholder="Other Info" type="text" value=locals.account.professional.education.outdoor.other name="professional[education][outdoor][other]")
							.row
								div#addOutsideCourse.addfieldsBtn.col-md-6.col-md-offset-3 add
						div.tab-pane#certs
							.row
								h4 Certifications
								#certificateFormContainer
									#certificateForm
										div.form-group.col-md-3
											label.sr-only(for="professional[certs][institution]") Institution
											input.form-control(placeholder="Institution" type="text" value=locals.account.professional.certs.institution name="professional[certs][institution]")
										div.form-group.col-md-3
											label.sr-only(for="professional[certs][certificate]") Certificate Earned
											input.form-control(placeholder="Certificate Earned" type="text" value=locals.account.professional.certs.certificate name="professional[certs][certificate]")
										div.form-group.col-md-3
											label.sr-only(for="professional[certs][acquired]") Date Acquired
											input.form-control(placeholder="Date Acquired" type="text" value=locals.account.professional.certs.acquired name="professional[certs][acquired]")
										div.form-group.col-md-3
											label.sr-only(for="professional[certs][expires]") Expires
											input.form-control(placeholder="Expires" type="text" value=locals.account.professional.certs.expires name="professional[certs][expires]")
							.row
								div#addCertificate.addfieldsBtn.col-md-6.col-md-offset-3 add
						div.tab-pane#teaching
							h4 Schools and Organizations Worked For:
							#teachingFormContainer
								#teachingForm
									.row
										p Type of Work
											select#courseDescription.form-control( value=locals.account.professional.teaching.experience.kind name="professional[teaching][kind]")
												option(value="Expiditionary") Expeditionary
												option(value="Residential") Residential
												option(value="Other") Other
									.row
										div.form-group.col-md-4
											label.sr-only(for="professional[teaching][experience][organization]") Organization 
											input.form-control(placeholder="Organization" type="text" value=locals.account.professional.teaching.experience.organization name="professional[teaching][experience][organization]")
										div.form-group.col-md-4
											label.sr-only(for="professional[teaching][experience][jobTitle]") Job Title
											input.form-control(placeholder="Title" type="text" value=locals.account.professional.teaching.experience.jobTitle name="professional[teaching][experience][jobTitle]")
										div.form-group.col-md-4
											label.sr-only(for="professional[teaching][experience][location]") Location
											input.form-control(placeholder="Location" type="text" value=locals.account.professional.teaching.experience.location name="professional[teaching][experience][location]")
									.row
										h5 Time Period
										div.form-group.col-md-3.col-md-offset-2
											label.sr-only(for="professional[teaching][experience][start]") Start Date
											input.form-control.datePick(placeholder="Start Date" type="text" value=locals.account.professional.teaching.experience.start name="professional[teaching][experience][start]")
										.col-md-2
											p until
										div.form-group.col-md-3
											label.sr-only(for="professional[teaching][experience][end]") End Date
											input.form-control.datePick(placeholder="End Date" type="text" value=locals.account.professional.teaching.experience.end name="professional[teaching][experience][end]")
										div.form-group.col-md-2
											input(type="checkbox", value=locals.account.professional.teaching.experience.current name="professional[teaching][experience][current]")
											label(for="professional[teaching][experience][current]") I currently work here
									.row
										.form-group.col-md-12
											label.sr-only(for="professional[teaching][experience][description]")
											input.form-control(placeholder="Brief Description" type="text" value=locals.account.professional.teaching.experience.description name="professional[teaching][experience][description]")

							.row
								div#addTeachingExperience.addfieldsBtn.col-md-6.col-md-offset-3 add


							.row
								h5 Did we miss anything? Add your own work experience here:
								.form-group.col-md-12
									label.sr-only(for="professional[teaching][additional]")
									input.form-control(placeholder="Description of experience" type="text" value=locals.account.professional.teaching.additional name="professional[teaching][additional]")
						div.tab-pane#guiding
							#section
								
								h4 Guiding Companies worked for:
								#guidingCoFormContainer
									#guidingCoForm
										.row
											div.form-group.col-md-4
												label.sr-only(for="professional[guiding][companies][organization]") Organization 
												input.form-control(placeholder="Organization" type="text" value=locals.account.professional.guiding.companies.organization name="professional[guiding][companies][organization]")
											div.form-group.col-md-4
												label.sr-only(for="professional[guiding][companies][jobTitle]") Job Title
												input.form-control(placeholder="Title" type="text" value=locals.account.professional.guiding.companies.jobTitle name="professional[guiding][companies][jobTitle]")
											div.form-group.col-md-4
												label.sr-only(for="professional[guiding][companies][location]") Location
												input.form-control(placeholder="Location" type="text" value=locals.account.professional.guiding.companies.location name="professional[guiding][companies][location]")
										.row
											h5 Time Period
											div.form-group.col-md-3.col-md-offset-2
												label.sr-only(for="professional[guiding][companies][start]") Start Date
												input.form-control.datePick(placeholder="Start Date" type="text" value=locals.account.professional.guiding.companies.start name="professional[guiding][companies][start]")
											.col-md-2
												p until
											div.form-group.col-md-3
												label.sr-only(for="professional[guiding][companies][end]") End Date
												input.form-control.datePick(placeholder="End Date" type="text" value=locals.account.professional.guiding.companies.end name="professional[guiding][companies][end]")
											div.form-group.col-md-2
												input(type="checkbox", value=locals.account.professional.guiding.companies.current name="professional[guiding][companies][current]")
												label(for="professional[guiding][companies][current]") I currently work here
										.row
											.form-group.col-md-12
												label.sr-only(for="professional[guiding][companies][description]")
												input.form-control(placeholder="Brief Description" type="text" value=locals.account.professional.guiding.companies.description name="professional[guiding][companies][description]")

								.row
									div#addGuidingCo.addfieldsBtn.col-md-6.col-md-offset-3 add
							#section
								h4 Trips / Expeditions Led:
								#tripsFormContainer
									#tripsForm
										.row
											p Age Range
												select#ageRange(name="professional[guiding][guided][ages]" value=locals.account.professional.guiding.guided.ages )
													option(value="1 week or less") 5-7
													option(value="professional") 7-10
													option(value="professional") 11-14
													option(value="professional") 15-18
													option(value="professional") 18-21
													option(value="professional") 22-30
													option(value="professional") 31-50
													option(value="professional") 51+
											p Gender
												select#gender(name="professional[guiding][guided][gender]" value=locals.account.professional.guiding.guided.gender )
													option(value="1 week or less") Male
													option(value="professional") Female
													option(value="professional") Mixed Group
										.row
											div.form-group.col-md-4
												label.sr-only(for="professional[guiding][guided][organization]") Organization 
												input.form-control(placeholder="Organization" type="text" value=locals.account.professional.guiding.guided.organization name="professional[guiding][guided][organization]")
											div.form-group.col-md-4
												label.sr-only(for="professional[guiding][guided][location]" ) Location
												input.form-control(placeholder="Location" type="text" value=locals.account.professional.guiding.guided.location name="professional[guiding][guided][location]")
											div.form-group.col-md-4
												label.sr-only(for="professional[guiding][guided][numOfClients]") # of Clients
												input.form-control(placeholder="# of Clients" type="text" value=locals.account.professional.guiding.guided.numOfClients name="professional[guiding][guided][numOfClients]")
										.row
											h5 Time Period
											div.form-group.col-md-3.col-md-offset-2
												label.sr-only(for="professional[guiding][guided][start]") Start Date
												input.form-control.datePick(placeholder="Start Date" type="text" value=locals.account.professional.guiding.guided.start name="professional[guiding][guided][start]")
											.col-md-2
												p until
											div.form-group.col-md-3
												label.sr-only(for="professional[guiding][guided][end]") End Date
												input.form-control.datePick(placeholder="End Date" type="text" value=locals.account.professional.guiding.guided.end name="professional[guiding][guided][end]")
										.row
											.form-group.col-md-12
												label.sr-only(for="professional[guiding][guided][description]") Trip Description
												input.form-control(placeholder="Trip Description" type="text" value=locals.account.professional.guiding.guided.description name="professional[guiding][guided][description]")

								.row
									div#addTrip.addfieldsBtn.col-md-6.col-md-offset-3 add

							.row
								h5 Did we miss anything? Add your own work experience here:
								.form-group.col-md-12
									label.sr-only(for="professional[guiding][additional]")
									input.form-control(placeholder="Description of experience" type="text" value=locals.account.professional.guiding.additional name="professional[guiding][additional]")
						div.tab-pane#sponsors
							#section
								h4 Sponsors:
								#sponsorFormContainer
									#sponsorForm
										.row
											div.form-group.col-md-3
												label.sr-only(for="first") Organization 
												input.form-control(placeholder="Organization / Company" type="text" value=locals.account.professional.sponsors.organization name="professional[sponsors][organization]")
											div.form-group.col-md-3
												label.sr-only(for="email") Sport
												input.form-control(placeholder="Sport" type="text" value=locals.account.professional.sponsors.sport name="professional[sponsors][sport]")
											div.form-group.col-md-2
												label.sr-only(for="email") Start Date
												input.form-control.datePick(placeholder="Start Date" type="text" value=locals.account.professional.sponsors.start name="professional[sponsors][start]")
											div.form-group.col-md-2
												label.sr-only(for="email") End Date
												input.form-control.datePick(placeholder="End Date" type="text" value=locals.account.professional.sponsors.end name="professional[sponsors][end]")
											div.form-group.col-md-2
												input(type="checkbox", value=locals.account.professional.sponsors.current name="professional[sponsors][current]")
												label(for="currentlyWork") I'm currently sponsored
										.row
											.form-group.col-md-12
												label.sr-only(for="professional[sponsors][description]")
												input.form-control(placeholder="Brief Description" type="text" value=locals.account.professional.sponsors.description name="professional[guiding][description]")
								.row
									div#addSponsor.addfieldsBtn.col-md-6.col-md-offset-3 add

						div.tab-pane#rockClimbingCt
							.row
								h4 Rock Climbing
								h5 Notable Climbs
							.row
								#rockClimbingFormContainer
									#rockClimbingForm
		
											div.form-group.col-md-3
												label.sr-only(for="sports[rockClimbing][notableRoutes][location]") Location
												input.form-control(placeholder="Location" type="text" value=locals.account.sports.rockClimbing.notableRoutes.location name="sports[rockClimbing][notableRoutes][location]")
											div.form-group.col-md-3
												label.sr-only(for="sports[rockClimbing][notableRoutes][route]") Route
												input.form-control(placeholder="Route" type="text" value=locals.account.sports.rockClimbing.notableRoutes.route name="sports[rockClimbing][notableRoutes][route]")
											div.form-group.col-md-2
												label.sr-only(for="sports[rockClimbing][notableRoutes][grade]") Grade
												input.form-control(placeholder="Grade" type="text" value=locals.account.sports.rockClimbing.notableRoutes.grade name="sports[rockClimbing][notableRoutes][grade]")
											div.form-group.col-md-2
												label.sr-only(for="sports[rockClimbing][notableRoutes][pitched]") Pitches
												input.form-control(placeholder="Pitches" type="text" value=locals.account.sports.rockClimbing.notableRoutes.pitches name="sports[rockClimbing][notableRoutes][pitches]")
											div.form-group.col-md-2
												label.sr-only(for="sports[rockClimbing][notableRoutes][date]") Date
												input.form-control.climbDate(placeholder="Date" type="text" value=locals.account.sports.rockClimbing.notableRoutes.date name="sports[rockClimbing][notableRoutes][date]")
							.row
								div#addRoute.addfieldsBtn.col-md-6.col-md-offset-3 add	
					button.btn.btn-default.pull-right(type="submit" name="editprofile") Update
