extends ../layout

block content
	include ../_topbar
	.profileTop
	.profileContent
		.container
			.row#profileUserBasics
				div
					#buttons.pull-right
						h5.pull-right Outdoor #{profileUser.general.IamA}
						.row
						-if(profileUser.general.guide)
							img.badges(src="../img/guideBadge.png")
						-if(profileUser.general.educator)
							img.badges(src="../img/educatorBadge.png")
						-if(profileUser.general.athlete)
							img.badges(src="../img/athleteBadge.png")
					.crop.profileImage
						img.pull-left.rounded(src="https://graph.facebook.com/#{profileUser.oauthID}/picture?type=large")
					h2.profName #{profileUser.name} 
						.btn.btn-primary.btn-sm Add Friend
					p.lead #{profileUser.general.hometown}
					-if(profileUser.general.occupation)	
						p.profileUserdetails
							b Occupation: 
							span #{profileUser.general.occupation}
					-if(profileUser.general.aboutMe)	
						p.profileUserdetails
							b Bio: 
							span #{profileUser.general.aboutMe}
					-if(profileUser.general.age)	
						p.profileUserdetails
							b Age: 
							span #{profileUser.general.age}
					
					
					p.profileUserdetails
					-if(profileUser.sportsList && profileUser.sportsList >= 1)
					b Sports: 
					-var arrayOfSports = Object.keys(profileUser.sportsList).map(function (key){
					-		return profileUser.sportsList[key];
					-}).join(", ");
					span= arrayOfSports.substr(2)

					

						//.btn.btn-success.pull-right#messageBtn Message
			.row
				.row#profileBody
					.col-md-8

						//- checks for any saved rock climbing routes
						-if(profileUser.sports.rockClimbing.notableRoutes[0])
							//- checks for saved routes after first save on the dashboard
							-if(profileUser.sports.rockClimbing.notableRoutes[0].location)
								h4 Rock Climbing
								.panel.panel-default.col-md-12
									table.table.table-striped
										tr
											th Location
											th Route 
											th Pitches
											th Type
											th Grade
											th Date 
										each climb in profileUser.sports.rockClimbing.notableRoutes
											tr 
												td #{climb.location}
												td #{climb.route}
												td #{climb.pitches}
												td #{climb.climbType}
												td #{climb.grade}
												td 5/5/13
												td #{climb.leadFollow}
						-if(profileUser.sports.mountaineering.routes[0])
							-if(profileUser.sports.mountaineering.routes[0].mountain)
								h4 Mountaineering
								.panel.panel-default.col-md-12
									table.table.table-striped
										tr
											th Mountain
											th Route 
											th Difficulty
											th Skills Demonstrated
											th Description
											th Date 
											th Guided
											th Summited
										each mount in profileUser.sports.mountaineering.routes
											tr 
												td #{mount.mountain}
												td #{mount.route}
												td #{mount.difficulty}
												td #{mount.skills}
												td #{mount.description}
												td 5/5/13
												td #{mount.guided}
												td #{mount.summited}
						-if(profileUser.sports.cycling.races[0])
							-if(profileUser.sports.cycling.races[0].race)
								h4 Mountain Biking / Cycling
								.panel.panel-default.col-md-12
									table.table.table-striped
										tr
											th Race
											th Location 
											th Type
											th Total Time
											th Place
											th Date 
											th Mountain / Road
										each race in profileUser.sports.cycling.races
											tr 
												td #{race.race}
												td #{race.location}
												td #{race.type}
												td #{race.totalTime}
												td #{race.place}
												td 5/5/13
												td #{race.mtnRd}
						-if(profileUser.sports.river.runs[0])
							-if(profileUser.sports.river.runs[0].river)
								h4 River Sports
								.panel.panel-default.col-md-12
									table.table.table-striped
										tr
											th River
											th Run 
											th Difficulty
											th Craft
											th Role
											th Date 
											th Guided
										each run in profileUser.sports.river.runs
											tr 
												td #{run.river}
												td #{run.run}
												td #{run.difficulty}
												td #{run.craft}
												td #{run.role}
												td 5/5/13
												td #{run.guided}
					.col-md-4

						.row#rightPanels
								-if(profileUser.professional.guiding.companies[0])
									-if(profileUser.professional.guiding.companies[0].organization)
										.panel.panel-default#Panel
											.panel-body 
												h4 Guiding Experience
											ul.list-group
												each exp in profileUser.professional.guiding.companies
													li.list-group-item
														h4.list-group-item-heading #{exp.organization}
															if(exp.jobTitle)
																	span.small.list-group-item-text  #{exp.jobTitle}
															if(exp.location)
																.small.list-group-item-text #{exp.location}
															
															
														if(exp.description)
															strong Description:
															span.small.list-group-item-text  #{exp.description}
										-if(profileUser.professional.guiding.guided)
											.panel-body 
												h5 Trips Guided
											ul.list-group
												each exp in profileUser.professional.guiding.guided
													li.list-group-item
														h4.list-group-item-heading #{exp.organization}
															if(exp.jobTitle)
																	span.small.list-group-item-text  #{exp.role}
															if(exp.location)
																.small.list-group-item-text #{exp.location}
															if(exp.numOfClients)
																.small.list-group-item-text #{exp.numOfClients}
															if(exp.ages)
																.small.list-group-item-text #{exp.ages}
															if(exp.gender)
																.small.list-group-item-text #{exp.gender}
															
															
														if(exp.description)
															strong Description:
															span.small.list-group-item-text  #{exp.description}
								-if(profileUser.professional.teaching.experience[0])
									-if(profileUser.professional.teaching.experience[0].organization)
										.panel.panel-default#Panel
											.panel-body 
												h4 Teaching Experience
											ul.list-group
												each exp in profileUser.professional.teaching.experience
													li.list-group-item
														h4.list-group-item-heading #{exp.organization}
															if(exp.jobTitle)
																	span.small.list-group-item-text  #{exp.jobTitle}
															if(exp.location)
																.small.list-group-item-text #{exp.location}
															if(exp.location)
																.small.list-group-item-text #{exp.type}
															
															
														if(exp.description)
															strong Description:
															span.small.list-group-item-text  #{exp.description}
								-if(profileUser.professional.workExperience[0])
									-if(profileUser.professional.workExperience[0].company)
										.panel.panel-default#Panel
											.panel-body 
												h4 Related Work Experience
											ul.list-group
												each exp in profileUser.professional.workExperience
													li.list-group-item
														h4.list-group-item-heading #{exp.company}
															if(exp.jobTitle)
																	span.small.list-group-item-text  #{exp.positon}
															if(exp.location)
																.small.list-group-item-text #{exp.location}
														if(exp.description)
															strong Description:
															span.small.list-group-item-text  #{exp.description}
								-if(profileUser.professional.sponsors[0])
									-if(profileUser.professional.sponsors[0].organization)
										.panel.panel-default#Panel
											.panel-body 
												h4 Sponsors
											ul.list-group
												each exp in profileUser.professional.sponsors
													li.list-group-item
														h4.list-group-item-heading #{exp.organization}
															if(exp.jobTitle)
																	span.small.list-group-item-text  #{exp.sport}
								-if(profileUser.education)
									.panel.panel-default#Panel
										-if(profileUser.professional.education.outdoor[0])
											-if(profileUser.professional.education.outdoor[0].institution)
												//-if(profileUser.professional.education.outdoor[0])
												.panel-body
													h4 Outdoor Coursework
												ul.list-group
													each outdoor in profileUser.professional.education.outdoor
														li.list-group-item
															h4.list-group-item-heading #{outdoor.institution} 
																.list-group-item-text.small #{outdoor.course}
															b.list-group-item-text Duration: 
															span #{outdoor.duration}
															br
															b.list-group-item-text Skills Learned: 
															span #{outdoor.skills}
															br
															b.list-group-item-text More Info: 
															span #{outdoor.other}
										-if(profileUser.professional.certs[0])
											-if(profileUser.professional.certs[0].institution)
												.panel-body
													h4 Certifications
												ul.list-group
													each cert in profileUser.professional.certs
														li.list-group-item
															h4.list-group-item-heading #{cert.institution}
																.small.list-group-item-text #{cert.certificate}
															b.list-group-item-text Acquired: 
															span #{cert.acquired}
															br
															b.list-group-item-text Expires: 
															span #{cert.expires}
										.panel-body 
											h4 Traditional Education
										ul.list-group
											each trad in profileUser.education
												-console.log(trad)
												li.list-group-item
													h4.list-group-item-heading #{trad.school.name}
														if(trad.concentration)
															each concentration in trad.concentration

																.small.list-group-item-text #{concentration.name}
														if(trad.type)
															.small.list-group-item-text #{trad.type}
														if(trad.year)
															.small.list-group-item-text #{trad.year.name}


												//-p #{trad.start} to #{trad.end}


					//-.row
							h3 Courses
							each course in locals.profileUser.classes
								include _profileCourse
							h3 Friends
							.row#classmates
								.col-md-2.col-sm-4
									a(href=router.getLink("profileUserprofile", { profileUser : "deanbennet" }))
										.thumbnail.text-center
											img#profileUserThumb(src="/img/1.jpg")
								.col-md-2.col-sm-4
									a(href=router.getLink("profileUserprofile", { profileUser : "deanbennet" }))
										.thumbnail.text-center
											img#profileUserThumb(src="/img/2.jpg")
								.col-md-2.col-sm-4
									a(href=router.getLink("profileUserprofile", { profileUser : "deanbennet" }))
										.thumbnail.text-center
											img#profileUserThumb(src="/img/3.jpg")
								.col-md-2.col-sm-4
									a(href=router.getLink("profileUserprofile", { profileUser : "deanbennet" }))
										.thumbnail.text-center
											img#profileUserThumb(src="/img/4.jpg")
								.col-md-2.col-sm-4
									a(href=router.getLink("profileUserprofile", { profileUser : "deanbennet" }))
										.thumbnail.text-center
											img#profileUserThumb(src="/img/5.jpg")
								.col-md-2.col-sm-4
									a(href=router.getLink("profileUserprofile", { profileUser : "deanbennet" }))
										.thumbnail.text-center
											img#profileUserThumb(src="/img/6.jpg")
							.text-center
								button.outlined-clear-btn-black.margin-10 5 More <span class="caret"></span>


				
	include ../_footer