extends ../layout

block content
	include ../_topbar
	.profileContent
		.profileTop
		.container(data-user="#{profileUser._id}")
			.row#userBasics
				div
					#buttons.pull-right
						h5.pull-right Outdoor #{profileUser.general.IamA}
						.row
						-if(profileUser.general.guide)
							img.badges(src="../img/guideBadge.png")
						-if(profileUser.general.educator)
							img.badges(src="../img/educatorBadge.png")
						-if(profileUser.general.athlete)
							img.badges(src="../img/athleteBadge.png")
					section.userPhoto
						.hoverphoto
							.front
								.crop
									img.pull-left(src="https://graph.facebook.com/#{profileUser.oauthID}/picture?type=large")
					section.about
						h2.profName #{profileUser.name}
						//- -if(user)
							#messageUser.inline
								span.glyphicon.glyphicon-comment
						//- .addFriend.inline
							span.glyphicon.glyphicon-plus
							p Add Friend
						-if(user)
							-if(String(profileUser._id) === String(user._id))
								.editProfile
									span.glyphicon.glyphicon-cog#editProfileBtn(data-target="#editProfileModal" data-toggle="modal") 
									p Edit Profile
						.location
							span.glyphicon.glyphicon-map-marker.pull-left.locationicon
							p.lead #{profileUser.general.hometown}
						-if(profileUser.general.aboutMe)
							.userdetails.aboutBio
								span.bio #{profileUser.general.aboutMe}
						.generalInfo
							-if(profileUser.general.occupation)
								.userdetails.inline
									b Occupation: 
									span #{profileUser.general.occupation}
							-if(profileUser.general.age)
								.userdetails.inline
									b Age: 
									span #{profileUser.general.age}	
							-if(profileUser.general.fieldDays)
								.userdetails.inline
									b Field Days: 
									span #{profileUser.general.fieldDays}	
							-if(profileUser.general.specialities)
								.userdetails.inline
									b Areas of Expertise: 
									span #{profileUser.general.specialities}
							p.userdetails.inline
								-var arrayOfSports = Object.keys(profileUser.sportsList).map(function (key){
								-		return profileUser.sportsList[key];
								-});
								-if(arrayOfSports[0] != "ho" && arrayOfSports[1])
									b Activities: 
									span= arrayOfSports[1] 
									-if(arrayOfSports[2])
										span= ", " + arrayOfSports[2] 
									-if(arrayOfSports.length > 3)
										span  and
										-var sports = arrayOfSports.slice(3).join(", ")

										button.none.inline#moreSports(style="border:none; background-color: white; color: #3399cc; z-index:3000;" data-toggle="tooltip" data-placement="left" title=sports)= arrayOfSports.length -3 + " more."

					

						//.btn.btn-success.pull-right#messageBtn Message
			ul.nav.nav-tabs#profileTabs
				li.pull-right
					a(href="#profileBody" data-toggle="tab") Outdoor Pursuits
				li.active.pull-right
					a(href="#rightPanel" data-toggle="tab") Resume
			br
			.tab-content
				.tab-pane.fade.in#profileBody
					//- checks for any saved rock climbing routes
					-if(profileUser.sports.rockClimbing.notableRoutes[0])
						//- checks for saved routes after first save on the dashboard
						-if(profileUser.sports.rockClimbing.notableRoutes[0].location)
							h4 Rock Climbing
								-if(user)
									-if(String(profileUser._id) === String(user._id))
										button.btn.btn-default.btn-sm.addEvtBtn
											span.glyphicon.glyphicon-plus.pull-right#editRcBtn(data-target="#editProfileModal" data-toggle="modal")

							.panel.panel-default.col-md-12
								table.table.table-striped
									tr
										th Location
										th Route 
										th Pitches
										th Type
										th Grade
										th Date 
										th Lead / Follow
										-if(String(profileUser._id) === String(user._id))
											th Delete?


									each climb in profileUser.sports.rockClimbing.notableRoutes
										tr 
											td #{climb.location}
											td #{climb.route}
											td #{climb.pitches}
											td #{climb.climbType}
											td #{climb.grade}
											td #{moment(climb.date).format("MM/DD/YYYY")}
											td #{climb.leadFollow}
											-if(String(profileUser._id) === String(user._id))
												td
													a(href=router.getLink('deleteClimb' , { climbId: climb._id }))
														span.glyphicon.glyphicon-remove

					-if(profileUser.sports.mountaineering.routes[0])
						-if(profileUser.sports.mountaineering.routes[0].mountain)
							h4 Mountaineering
								-if(user)
									-if(String(profileUser._id) === String(user._id))
										button.btn.btn-default.btn-sm.addEvtBtn
											span.glyphicon.glyphicon-plus.pull-right#editMountBtn(data-target="#editProfileModal" data-toggle="modal")
							.panel.panel-default.col-md-12
								table.table.table-striped
									tr
										th Mountain
										th Route 
										th Difficulty
										th Skills Demonstrated
										th Description
										th Date 
										th Guided
										th Summited
									each mount in profileUser.sports.mountaineering.routes
										tr 
											td #{mount.mountain}
											td #{mount.route}
											td #{mount.difficulty}
											td #{mount.skills}
											td #{mount.description}
											td #{moment(mount.date).format("MM/DD/YYYY")}
											td #{mount.guided}
											td #{mount.summited}
					-if(profileUser.sports.cycling.races[0])
						-if(profileUser.sports.cycling.races[0].race)
							h4 Mountain Biking / Cycling
								-if(user)
									-if(String(profileUser._id) === String(user._id))
										button.btn.btn-default.btn-sm.addEvtBtn
											span.glyphicon.glyphicon-plus.pull-right#editCycleBtn(data-target="#editProfileModal" data-toggle="modal")
							.panel.panel-default.col-md-12
								table.table.table-striped
									tr
										th Race
										th Location 
										th Type
										th Total Time
										th Place
										th Date 
										th Mountain / Road
									each race in profileUser.sports.cycling.races
										tr 
											td #{race.race}
											td #{race.location}
											td #{race.type}
											td #{race.totalTime}
											td #{race.place}
											td #{moment(race.date).format("MM/DD/YYYY")}
											td #{race.mtnRd}
					-if(profileUser.sports.river.runs[0])
						-if(profileUser.sports.river.runs[0].river)
							h4 River Sports
								-if(user)
									-if(String(profileUser._id) === String(user._id))
										button.btn.btn-default.btn-sm.addEvtBtn
											span.glyphicon.glyphicon-plus.pull-right#editRiverBtn(data-target="#editProfileModal" data-toggle="modal")
							.panel.panel-default.col-md-12
								table.table.table-striped
									tr
										th River
										th Run 
										th Difficulty
										th Craft
										th Role
										th Date 
										th Guided
									each run in profileUser.sports.river.runs
										tr 
											td #{run.river}
											td #{run.run}
											td #{run.difficulty}
											td #{run.craft}
											td #{run.role}
											td #{moment(run.date).format("MM/DD/YYYY")}
											td #{run.guided}

				.tab-pane.active.fade.in#rightPanel
					//- -if(profileUser.professional.guiding.companies[0])
						-if(profileUser.professional.guiding.companies[0].organization)
							.panel.panel-default#Panel
								.panel-body 
									-if(user)
										-if(String(profileUser._id) === String(user._id))
											span.glyphicon.glyphicon-cog.pull-right#editGuidingBtn(data-target="#editProfileModal" data-toggle="modal")
									h4 Guiding Experience
								ul.list-group
									each exp in profileUser.professional.guiding.companies
										li.list-group-item
											h4.list-group-item-heading #{exp.organization}
												if(exp.jobTitle)
														span.small.list-group-item-text  #{exp.jobTitle}
												if(exp.location)
													.small.list-group-item-text #{exp.location}
												
												
											if(exp.description)
												strong Description:
												span.small.list-group-item-text  #{exp.description}
							-if(profileUser.professional.guiding.guided)
								.panel-body 
									-if(user)
										-if(String(profileUser._id) === String(user._id))
											span.glyphicon.glyphicon-cog.pull-right#editGuidingBtn(data-target="#editProfileModal" data-toggle="modal")
									h5 Trips Guided
								ul.list-group
									each exp in profileUser.professional.guiding.guided
										li.list-group-item
											h4.list-group-item-heading #{exp.organization}
												if(exp.jobTitle)
														span.small.list-group-item-text  #{exp.role}
												if(exp.location)
													.small.list-group-item-text #{exp.location}
												if(exp.numOfClients)
													.small.list-group-item-text #{exp.numOfClients}
												if(exp.ages)
													.small.list-group-item-text #{exp.ages}
												if(exp.gender)
													.small.list-group-item-text #{exp.gender}
												
												
											if(exp.description)
												strong Description:
												span.small.list-group-item-text  #{exp.description}
					//- -if(profileUser.professional.teaching.experience[0])
						-if(profileUser.professional.teaching.experience[0].organization)
							.panel.panel-default#Panel
								.panel-body 
									-if(user)
										-if(String(profileUser._id) === String(user._id))
											span.glyphicon.glyphicon-cog.pull-right#editTeachingBtn(data-target="#editProfileModal" data-toggle="modal")
									h4 Teaching Experience
								ul.list-group
									each exp in profileUser.professional.teaching.experience
										li.list-group-item
											.date.pull-right
												span.small #{moment(exp.start).format("MM/DD/YYYY")} - 
												span.small #{moment(exp.end).format("MM/DD/YYYY")}
											h4.list-group-item-heading #{exp.organization}
												br
												if(exp.jobTitle)
													span.small.list-group-item-text  #{exp.jobTitle}
												if(exp.location)
													.small.list-group-item-text #{exp.location}
												if(exp.location)
													.small.list-group-item-text #{exp.type}
												
												
											if(exp.description)
												strong Description:
												span.small.list-group-item-text  #{exp.description}
					-if(profileUser.professional.experience[0])
						-if(profileUser.professional.experience[0].organization)
							.panel.panel-default#Panel
								.panel-body 
									-if(user)
										-if(String(profileUser._id) === String(user._id))
											span.glyphicon.glyphicon-cog.pull-right#editWorkBtn(data-target="#editProfileModal" data-toggle="modal")

									h4 Work Experience
								ul.list-group
									each exp in profileUser.professional.experience
										li.list-group-item
											.date.pull-right
												span.small #{exp.start} - 
												-if(exp.current)
													span.small Present
												-if(!exp.current)
													span.small #{exp.end}
											h4.list-group-item-heading #{exp.organization}
												br
												if(exp.position)
													span.small.list-group-item-text  #{exp.jobTitle}
												if(exp.location)
													.small.list-group-item-text #{exp.location}
												
												br
											-if(exp.description)
												strong Description:
												span.small.list-group-item-text  #{exp.description}
											-if(user)	
												-if(String(profileUser._id) === String(user._id))
													a(href="#")
														span.glyphicon.glyphicon-remove.delete.delExp(data-id="#{exp._id}") Delete
					-if(profileUser.professional.sponsors[0])
						-if(profileUser.professional.sponsors[0].organization)
							.panel.panel-default#Panel
								.panel-body 
									-if(user)
										-if(String(profileUser._id) === String(user._id))
											span.glyphicon.glyphicon-cog.pull-right#editSponsorBtn(data-target="#editProfileModal" data-toggle="modal")

									h4 Sponsors
								ul.list-group
									each exp in profileUser.professional.sponsors
										li.list-group-item
											h4.list-group-item-heading #{exp.organization}
												-if(exp.jobTitle)
													span.small.list-group-item-text  #{exp.sport}
											-if(user)	
												-if(String(profileUser._id) === String(user._id))	
													span.glyphicon.glyphicon-remove.delete.delSpon(data-id="#{exp._id}") Delete
					-if(profileUser.education)
						.panel.panel-default#Panel
							-if(profileUser.professional.education.outdoor[0])
								-if(profileUser.professional.education.outdoor[0].institution)
									//-if(profileUser.professional.education.outdoor[0])
									.panel-body
										-if(user)
											-if(String(profileUser._id) === String(user._id))
												span.glyphicon.glyphicon-cog.pull-right.editEduBtn(data-target="#editProfileModal" data-toggle="modal")

										h4 Outdoor Coursework
									ul.list-group
										each outdoor in profileUser.professional.education.outdoor
											li.list-group-item
												.date.pull-right
													span.small #{outdoor.yearsAttended} 
												h4.list-group-item-heading #{outdoor.institution} 
													.list-group-item-text.small #{outdoor.course}
												-if(outdoor.duration)
													b.list-group-item-text Duration: 
													span #{outdoor.duration}
												br
												-if(outdoor.skills)
													b.list-group-item-text Skills Learned: 
													span #{outdoor.skills}
												br
												-if(outdoor.other)
													b.list-group-item-text More Info: 
													span #{outdoor.other}
												-if(user)	
													-if(String(profileUser._id) === String(user._id))	
														a(href="#")
															span.glyphicon.glyphicon-remove.delete.delOutdoor(data-id="#{outdoor._id}") Delete
							-if(profileUser.professional.certs[0])
								-if(profileUser.professional.certs[0].institution)
									.panel-body
										-if(user)
											-if(String(profileUser._id) === String(user._id))
												span.glyphicon.glyphicon-cog.pull-right#editCertBtn(data-target="#editProfileModal" data-toggle="modal")

										h4 Certifications
									ul.list-group
										each cert in profileUser.professional.certs
											li.list-group-item
												.dates.pull-right.text-right
													b.list-group-item-text Acquired: 
													span #{moment(cert.acquired).format("MM/DD/YYYY")}
													br
													b.list-group-item-text Expires: 
													span #{moment(cert.expires).format("MM/DD/YYYY")}
												h4.list-group-item-heading #{cert.certificate}
													.small.list-group-item-text #{cert.institution}
												-if(user)	
													-if(String(profileUser._id) === String(user._id))	
														a(href="#")
															span.glyphicon.glyphicon-remove.delete.delCert(data-id="#{cert._id}") Delete
							if(profileUser.education)
								if(profileUser.education[0])
									.panel-body 
										-if(user)
											-if(String(profileUser._id) === String(user._id))		
												span.glyphicon.glyphicon-cog.pull-right.editEduBtn(data-target="#editProfileModal" data-toggle="modal")
										h4 Traditional Education
									ul.list-group
										each trad in profileUser.education
											li.list-group-item
												if(trad.year)
													.pull-right
														.small.list-group-item-text #{trad.year.name}
												h4.list-group-item-heading #{trad.school.name}
													if(trad.concentration[0])
														each concentration in trad.concentration

															.small.list-group-item-text #{concentration.name}
													if(trad.type)
														.small.list-group-item-text #{trad.type}
												-if(user)
													-if(String(profileUser._id) === String(user._id))	
														a(href="#")
															span.glyphicon.glyphicon-remove.delete.delTrad(data-id="#{trad._id}") Delete

				-if(user)
					-if(user._id = profileUser._id)
						section#editProfileModal.modal.fade.in(role="dialog" aria-labelledby="myModalLabel" aria-hidden="false")
							-if(profileUser.general.onboarded === false)
								.welcome.text-center
									h1 Hey there, welcome to your Profile!
									.lead Looks like this is your first time here. Start by telling us more about yourself!
							.modal-dialog.modal-lg
								div.modal-content
									header.modal-header
										button.close(type="button", data-dismiss="modal" aria-hidden="true")
										h4.modal-title Edit Basic Information
									.modal-body
										ul.nav-tabs.nav#editNav
											li#generalTab.active
												a(href="#general", data-toggle="tab") General
											li#educationTab
												a(href="#education", data-toggle="tab") Education / Coursework
											li#workTab
												a(href="#workExperience",  data-toggle="tab") Work Experience
											li#certsTab
												a(href="#certs", data-toggle="tab") Certifications
											//- -var visibility = profileUser.general.educator ? "block" : "none";
											//- li#educator(style="display: " + visibility + ";")
												a(href="#teaching", data-toggle="tab") Teaching Experience
											//- -var visibility = profileUser.general.guide ? "block" : "none";
											//- li#guide(style="display: " + visibility + ";")
												a(href="#guiding", data-toggle="tab") Guide Experience
											-var visibility = profileUser.general.athlete ? "block" : "none";
											li#athlete(style="display: " + visibility + ";")
												a(href="#sponsors", data-toggle="tab") Sponsors
											li#sportsTab.dropdown
												a(href="#", data-toggle="dropdown").dropdown-toggle Sports 
													div.badge#count
													span.caret
													if(profileUser.sportsList)
														ul.dropdown-menu#sportsUl
															#sportsList
															
															- var visibility = profileUser.sportsList.mountainBiking ? "block" : "none";
															li#mbTab(style="display: " + visibility + ";")
																a(href="#cycleCt", data-toggle="tab") Mountain Biking
															//- var visibility = profileUser.sportsList.running ? "block" : "none";
															//-li#runTab(style="display: " + visibility + ";")
																a(href="#runningCt") Running
															- var visibility = profileUser.sportsList.rockClimbing ? "block" : "none";
															li#rcTab(style="display: " + visibility + ";")
																a(href="#rockClimbingCt", data-toggle="tab") Rock Climbing
															- var visibility = profileUser.sportsList.roadCycling ? "block" : "none";
															li#cycTab(style="display: " + visibility + ";")
																a(href="#cycleCt", data-toggle="tab") Road Cycling
															- var visibility = profileUser.sportsList.kayaking ? "block" : "none";
															li#kayTab(style="display: " + visibility + ";")
																a(href="#riverCt", data-toggle="tab") Kayaking
															//- - var visibility = profileUser.sportsList.supb ? "block" : "none";
															//-li#supbTab(style="display: " + visibility + ";")
																a(href="#supbCt") S.U. Paddle Boarding
															//- - var visibility = profileUser.sportsList.surfing ? "block" : "none";
															//-li#surfTab(style="display: " + visibility + ";")
																a(href="#surfCt") Surfing
															//- - var visibility = profileUser.sportsList.skiing ? "block" : "none";
															//-li#skiTab(style="display: " + visibility + ";")
																a(href="#skiCt") Skiing
															//- - var visibility = profileUser.sportsList.snowboarding ? "block" : "none";
															//-li#sbTab(style="display: " + visibility + ";")
																a(href="#snowboardCt") Snowboarding
															- var visibility = profileUser.sportsList.mountaineering ? "block" : "none";
															li#moutTab(style="display: " + visibility + ";")
																a(href="#mountaineeringCt", data-toggle="tab") Mountaineering
															//- - var visibility = profileUser.sportsList.hiking ? "block" : "none";
															//-li#hikeTab(style="display: " + visibility + ";")
																a(href="#hikeCt") Hiking
															//- - var visibility = profileUser.sportsList.yoga ? "block" : "none";
															//-li#yogaTab(style="display: " + visibility + ";")
																a(href="#yogaCt") Yoga
															- var visibility = profileUser.sportsList.triathalon ? "block" : "none";
															li#triTab(style="display: " + visibility + ";")
																a(href="#triCt", data-toggle="tab") Triathalon
															//- - var visibility = profileUser.sportsList.swimming ? "block" : "none";
															//-li#swimTab(style="display: " + visibility + ";")
																a(href="#swimCt") Swimming
															//- - var visibility = profileUser.sportsList.windSurf ? "block" : "none";
															//-li#windTab(style="display: " + visibility + ";")
																a(href="#windSurfCt") Wind Surfing
															//- - var visibility = profileUser.sportsList.kiteSurf ? "block" : "none";
															//- li#kiteTab(style="display: " + visibility + ";")
																a(href="#kiteSurfCt") Kite Surfing
															//- - var visibility = profileUser.sportsList.scuba ? "block" : "none";
															//-li#scubaTab(style="display: " + visibility + ";")
																a(href="#scubaCt") Scuba
															- var visibility = profileUser.sportsList.canoe ? "block" : "none";
															li#canoeTab(style="display: " + visibility + ";")
																a(href="#riverCt", data-toggle="tab") Canoeing
															- var visibility = profileUser.sportsList.raft ? "block" : "none";
															li#raftTab(style="display: " + visibility + ";")
																a(href="#riverCt", data-toggle="tab") Rafting
															//- - var visibility = profileUser.sportsList.iceClimb ? "block" : "none";
															//-li#iceTab(style="display: " + visibility + ";")
																a(href="#iceClimbCt") Ice Climbing
										.row
											form.form(role="form", action=router.getLink("editProfile", {user: user._id}), method="POST")
												div.tab-content
													div.tab-pane.fade.in.active.col-md-12#general
														include _general
													div.tab-pane#education.col-md-12
														h4 Traditional Education
														#tradFormContainer
															-if(!profileUser.education[0])	
																include _tradEdu
															-if(profileUser.education[0])
																-var i = 0
																each trad in profileUser.education
																	include _tradEdu
																	-i++
														.row
															div#addTradEdu.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add
														.row.col-md-12.outsideCourse
															h4 Outdoor Coursework
															#outdoorEdFormContainer
																-if(profileUser.professional.education.outdoor[0])
																	-var i = 0
																	each outdoor in profileUser.professional.education.outdoor
																		include _outdoorEdu
																-if(!profileUser.professional.education.outdoor[0])
																	-var i = 0;
																	include _outdoorEdu
														.row
															div#addOutsideCourse.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add
													div.tab-pane#certs.col-md-12
														.row.col-md-12
															h4 Certifications
															#certificateFormContainer
																-if(profileUser.professional.certs[0])
																	-var i = 0;
																	each cert in profileUser.professional.certs
																		include _cert
																-if(!profileUser.professional.certs[0])
																	- var i = 0;
																	include _cert
														.row
															div#addCertificate.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add
													div.tab-pane#workExperience.col-md-12
														h4 Work Experience:
														#workFormContainer
															-if(!profileUser.professional.experience[0])
																-var i = 0
																include _workExperience
															-if(profileUser.professional.experience[0])
																-var i = 0
																each experience in profileUser.professional.experience
																	include _workExperience
														.row
															div#addWork.addfieldsBtn.col-md-6.col-md-offset-3(data-i=(i - 1)) add
														
												
														//- #section
															h4 Trips / Expeditions Led:
															#tripsFormContainer
																if(profileUser.professional.guiding.guided[0])
																	-var i = 0
																	each guided in profileUser.professional.guiding.guided
																		include _guide
																		-i++

																if(!profileUser.professional.guiding.guided[0])
																	-var i = 0
																	include _guide
																div#addTrip.addfieldsBtn.col-md-6.col-md-offset-3 add
													div.tab-pane#sponsors
														.col-md-12
															h4 Sponsors:
															#sponsorFormContainer
																if(profileUser.professional.sponsors[0])
																	-var i = 0
																	each sponsor in profileUser.professional.sponsors
																		include _sponsor
																if(!profileUser.professional.sponsors[0])
																	-var i = 0;
																	include _sponsor

														.row
															div#addSponsor.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add

													div.tab-pane#rockClimbingCt.col-md-12
														h4 Rock Climbing
														h5 Notable Climbs
														#rockClimbingFormContainer
															if(profileUser.sports.rockClimbing.notableRoutes[0])
																-var i = 0
																each climb in profileUser.sports.rockClimbing.notableRoutes
																	include _rockclimb
															if(!profileUser.sports.rockClimbing.notableRoutes[0])
																-var i = 0
																include _rockclimb
														.row
															div#addRoute.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add	
													div.tab-pane#mountaineeringCt.col-md-12
														h4 Alpine and Ski Mountaineering
														#mountaineeringFormContainer
															if(profileUser.sports.mountaineering.routes[0])
																-var i = 0
																each route in profileUser.sports.mountaineering.routes
																	include _mountaineering
															if(!profileUser.sports.mountaineering.routes[0])
																-var i = 0
																include _mountaineering																	
														.row
															div#addMountRoute.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add
													div.tab-pane#riverCt
														h4 River Sports
														#riverFormContainer
															if(profileUser.sports.river.runs[0])
																-var i = 0
																each run in profileUser.sports.river.runs
																	include _river
															if(!profileUser.sports.river.runs)
																-var i = 0;
																include _river
														.row
															div#addRiver.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add	
													div.tab-pane#cycleCt.col-md-12
														h4 Mounatin Biking / Road Cycling
														#cyclingFormContainer
															if(profileUser.sports.cycling.races[0])
																-var i = 0
																each race in profileUser.sports.cycling.races
																	include _cycling
															if(!profileUser.sports.cycling.races[0])
																-var i = 0;
																include _cycling
														.row
															div#addRace.addfieldsBtn.col-md-6.col-md-offset-3(data-i= (i - 1)) add	
													button.btn.btn-default.pull-right(type="submit" name="editprofile") Update

				-if(user)
					#sendMessageModal.modal.fade.in(role="dialog" aria-labelledby="myModalLabel" aria-hidden="false")
						.modal-dialog
							form(role="form" action=router.getLink("initiateThread", {recieverId: profileUser._id, senderName: user.name, senderId: user._id}), method="POST").modal-content
								.modal-header
									h4 New Message to #{profileUser.name}
								.modal-body
									textarea( rows="5" name="messageContent").form-control
								.modal-footer
									button.btn.btn-default(data-dismiss="modal") Close
									button.btn.btn-primary(type="submit") Send
block scripts
	script(src="/javascripts/profile.js") 
	script(src="/javascripts/editprofile.js") 
include ../_footer